<!--
Project: life BCG
File: add-surveys.component
Author: Sushant Indulkar - sushant.indulkar@wwindia.com
-----
Copyright (c) 2020
-----
HISTORY:
Date      	By       	Comments
----------	---------	---------------------------------------------------------
-->

<!-- Add surveys staart -->
<div id="add-surveys" class="add-gallery-area mb-3 d-block">
    <app-button
    classes = "btn btn-secondary rounded-circle btn-add inner-close-btn"
    (onClick) = "closeContentVew()" 
    >×</app-button>
    <div class="row mb-2">
        <div class="col-md-12">
            <div class="h6">
                   Add Surveys
               </div>
       </div>
    </div>
    <div class="row">
             <div class="col-md-12">
                <form [formGroup]="surveyForm">
                  <div class="form-group">
                      <input type="" name="" formControlName="url" class="form-control" placeholder="Add URL" >
                      <div *ngIf="submitted && f.url.errors">
                        <small class="invalid-feedback d-block" *ngIf="f.url.errors.required">URL is required</small>
                        <small class="invalid-feedback d-block" *ngIf="f.url.errors.pattern">URL is valid</small>
                      </div>
                  </div>
                  
                  <div class="form-group">
                      <textarea class="form-control" formControlName="description" rows="4" placeholder="Description"></textarea>
                      <div *ngIf="submitted && f.description.errors" >
                        <small class="invalid-feedback d-block" *ngIf="f.description.errors.required">Description is required</small>
                      </div>
                  </div>
                 
                  <app-button
                  (onClick)="saveData()"
                  classes="btn btn-primary bg-transparent rounded btn-add box-shadow d-inline-block w-95">
                  Save
                  </app-button>
                  </form>
             </div>
    </div>
</div>
<!-- Add surveys end -->