<!--
Project: life BCG
File: upcoming-activities.component
Author: Sushant Indulkar - sushant.indulkar@wwindia.com
-----
Copyright (c) 2020
-----
HISTORY:
Date      	By       	Comments
----------	---------	---------------------------------------------------------
-->

<div class="upcoming-area">
    <ng-container *ngFor="let activitiesData of data; let lastIndex = last;">
        <div class="media">
            <div class="date-area text-center py-2 px-4 border-right">
                <div>{{activitiesData.date | date : 'EEE' | uppercase}} </div>
                <div class="date my-1">{{activitiesData.date | date : 'dd' | uppercase}}</div>
                <div>{{activitiesData.date | date : 'MMM' | uppercase}}</div>
            </div>
            <div class="media-body py-2 pl-4">
                <h5 class="mb-2">{{activitiesData.title}}</h5>
                {{activitiesData.date | date: 'EEE dd MMMM'}}{{' - '+ activitiesData.time+' Onwards'}}
                {{activitiesData.location}}
            </div>
        </div>
        <div *ngIf="!lastIndex" class="border-bottom my-3"></div>
    </ng-container>
</div>