<!--
Project: life BCG
File: category.component
Author: Sushant Indulkar - sushant.indulkar@wwindia.com
-----
Copyright (c) 2020
-----
HISTORY:
Date      	By       	Comments
----------	---------	---------------------------------------------------------
-->


<div class="modal-header">
   <h5 class="modal-title"><span class="icon-bg text-center mr-2"><img src="assets/images/icons/create-icon.png"></span>
      Create Category/Sections</h5>
   <div>
      <div class="dropdown custom-dropdown d-inline-block mr-3">
        
         <app-select 
         dropdownWidthClass="w-110" 
         (onChange)="getSelectedCategoryStatus($event)"
         [optionData]="categoryStatus"
         [selectedText] = 'preselectedCategoryText'
         >
         </app-select>


      </div>

      <app-button classes="btn btn-primary rounded-pill bg-dark btn-sm btn-icon text-uppercase mr-3" [submit]="false"
         [disabled]="true">
         <img src="assets/images/icons/upload-icon.png" class="mr-1" alt=""> <span>Upload CSV</span>
      </app-button>

      <app-button classes="close" [submit]="false" (onClick)="cancel()">
         <span aria-hidden="true">&times;</span>
      </app-button>

   </div>
</div>


<div class="modal-body">
   <tabset #categoryTabs type="pills" class="customNgxTabs">

      <tab heading="Category">
         <app-category-view 
         #categoryView
         module="category"
         [visibleStatus] = "status"
         (onGetSelectedCategory) = "getSelectedCategory($event)"
         ></app-category-view>
      </tab>

      <tab heading="Sections" (selectTab)="sectionTab = true">
         <app-category-view *ngIf="sectionTab" module="section"></app-category-view>
      </tab>

      <tab heading="Sub-Sections" (selectTab)="subSectionTab = true">
         <app-category-view *ngIf="subSectionTab" module="subSection"></app-category-view>
      </tab>
   </tabset>
   <ngx-spinner name="createCategorySpinner" [fullScreen]="false" > </ngx-spinner>
</div>

<div class="modal-footer border-top-0 justify-content-start">
  
   <app-button
   classes = "btn btn-secondary rounded-pill btn-sm text-uppercase mr-4"
   (onClick)= "cancel()"
   >Cancel</app-button>
   <app-button
   classes = "btn btn-primary rounded-pill bg-dark btn-sm btn-icon text-uppercase mr-4"
   (onClick)= "saveCategoryData(categoryView)"
   >SAVE</app-button>

   <app-button
   classes = "btn btn-primary rounded-pill bg-dark btn-sm btn-icon text-uppercase"
   [disabled] = true
   ><img src="assets/images/icons/preview-icon.png" alt=""> Preview</app-button>
   
   <small class="form-text text-muted ml-auto"><span class="mandatory">*</span> Indicates required fields</small>
</div>

