<!--
Project: life BCG
File: button.component
Author: Sushant Indulkar - sushant.indulkar@wwindia.com
-----
Copyright (c) 2020
-----
HISTORY:
Date      	By       	Comments
----------	---------	---------------------------------------------------------
-->

<button [class]="classes" [type]="type" [disabled]="disabled || loading" (click)="onClickBtn()">
    <ng-container>
        <ng-content></ng-content>
    </ng-container>
</button>