<!--
Project: life BCG
File: event-card.component
Author: Sushant Indulkar - sushant.indulkar@wwindia.com
-----
Copyright (c) 2020
-----
HISTORY:
Date      	By       	Comments
----------	---------	---------------------------------------------------------
-->

<div class="feed-inner box-shadow bg-white mb-3">
    <h5 *ngIf="data.eventName != ''" class="py-2 px-3">
        <span
            class="alphabet-letter text-uppercase font-weight-bold text-center mr-2 rounded-circle d-inline-block">{{data.eventName.charAt(0).toUpperCase()}}</span>
            {{data.eventName}} <span class="float-right">
            <img src="assets/images/icons/option-icon.jpg" alt="">
        </span>
    </h5>
    <img appLazyload *ngIf="data.image != ''" [src]="data.image" alt="" class="img-fluid w-100">
    <div class="p-3">
        <app-post-card [data]="data"></app-post-card>
        <ul class="details-block m-0 p-0">
            <li *ngIf="data.location != ''"><img src="assets/images/icons/map.jpg" alt="" class="mr-1">{{data.location}}
            </li>
        </ul>
        <div *ngIf="data.eventName != ''" class="status mt-3">{{ data.createdDate | timeDifference}}</div>
    </div>
</div>