<!--
Project: life BCG
File: select.component
Author: Sushant Indulkar - sushant.indulkar@wwindia.com
-----
Copyright (c) 2020
-----
HISTORY:
Date      	By       	Comments
----------	---------	---------------------------------------------------------
-->


<!-- <div class="form-group d-inline-block mb-0"> -->
    <label *ngIf="label" class="mr-2">{{label}}</label>
    <!-- <label *ngIf="label" class="mr-1">Select Category</label> -->
    <div class="dropdown custom-dropdown d-inline-block" dropdown>
        <button id="button-basic" dropdownToggle  class="{{ 'btn btn-secondary btn-sm bg-transparent dropdown-toggle w-110 h-28 text-left'+ (dropdownWidthClass ? dropdownWidthClass : 'w-148') }}"   class="form-control text-left text-truncate">
            {{selectedText[0].name}}
        </button>
        <div *dropdownMenu class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a *ngFor="let optData of optionData" (click)="setSelectedValue(optData)" class="dropdown-item customCurserPointer">{{optData.name}}</a>
         </div>
    </div>
<!-- </div> -->