<!--
Project: life BCG
File: gallery-preview.component
Author: Sushant Indulkar - sushant.indulkar@wwindia.com
-----
Copyright (c) 2020
-----
HISTORY:
Date      	By       	Comments
----------	---------	---------------------------------------------------------
-->

<div class="add-gallery-area gallery-carousel-area mb-4 d-block">
    <div class="row">
        <div class="col-md-6">
            <div class="h5">Gallery</div>
        </div>
        <div class="col-md-6 text-right">
           
            <div class="form-group position-relative d-inline-block mr-4 add-more-files">
                <label class="mr-1">Add More</label>
                <button class="btn btn-primary rounded-circle bg-light btn-add"><i class="icon-plus-icon"></i></button>
                <!-- <input type="file" (onChange) = "onSelect($event)" multiple> -->
                <app-drag-n-drop-input
                multiple = true
                accept = "video/*,image/*"
                noClass = true
                (onChange) = "onSelect($event)"
                id = "validatedCustomFile"
                ></app-drag-n-drop-input>
            </div>

            <div class="form-group d-inline-block mr-4">
                <label class="custom-control custom-radio">
                    <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                    <div class="custom-control-label w-100" for="customRadio1">
                        Select All
                    </div>
                </label>
            </div>

            <div class="form-group d-inline-block">
                <label class="mr-1">Delete</label>
                <button class="btn btn-secondary rounded-circle btn-add btn-delete bg-danger text-white">
                    <i class="icon-delete-icon"></i>
                </button>
            </div>
        </div>
    </div>

    <!-- <div class="row mb-3">
        <div class="col-md-6">
            <div class="inner-title">Annual Offsite - Goa 2019</div>
        </div>
    </div> -->

    <div class="row">
        <div class="col-md-12 mt-4">

            <owl-carousel-o [options]="customOptions" (change)="getData($event)" >
                <!-- <ng-container *ngFor="let item of files"> -->
                    <ng-template class="owl-item" *ngFor="let item of files; let i= index" carouselSlide>
                        <app-preview-image 
                        [index] ="i"
                        [file]="item"
                        ></app-preview-image>
                    </ng-template>
                <!-- </ng-container> -->
            </owl-carousel-o>
            

        </div>
    </div>

    <!-- <div class="row">
        <div class="col-md-12">
            <p class="mt-3 pt-3 border-top">Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et
                ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum
                dolor sit amet, consetetur sadipscing</p>
        </div>
    </div> -->
</div>