<!--
Project: life BCG
File: header.component
Author: Sushant Indulkar - sushant.indulkar@wwindia.com
-----
Copyright (c) 2020
-----
HISTORY:
Date      	By       	Comments
----------	---------	---------------------------------------------------------
-->

<div class="header-area w-100 p-3">
    <h1>{{title}}</h1>
</div>