<!--
Project: life BCG
File: notification-sub-menu.component
Author: Sushant Indulkar - sushant.indulkar@wwindia.com
-----
Copyright (c) 2020
-----
HISTORY:
Date      	By       	Comments
----------	---------	---------------------------------------------------------
-->

<li class="mb-2">
        <a [routerLink]="['/'+data.route]" >
            <i class="{{ data.icon}} d-block"></i>
            <span class="d-block my-1">{{data.title}}</span>
            <span class="badge badge-primary text-center">{{data.count}}</span>
        </a>
</li>