<div class="row mb-3">
    <div class="col-md-6">
         <div class="add-main-img-area">
             <label>{{title}}</label>
             
             <div *ngIf="module=='mainImage' || module=='addIcon'" class="main-img-thumb d-inline-block">
                 <img [src]="imageSrc" alt="AppIconMainImage" class="img-fluid rounded">
             </div>
             
             <!-- <div *ngIf="module=='addIcon'"  class="icon-box d-inline-block rounded">
                <i class="icon-gift-icon"></i>
            </div> -->
             
            <app-button
            classes="btn btn-secondary rounded-circle btn-add bs-popover-search"
            (onClick)="deleteMedia()"
            >
            <i class="icon-delete-icon"></i>
            </app-button>
       
         </div>
    </div>
</div>