

.dropdown-area {
	margin: 25px 0;

	.dropdown-menu {
		border-radius: 12px;
		padding: .5rem 5px;
		width: 100%;

		.dropdown-item {
			font-size: 12px;
			border-radius: 12px;
			padding: 10px 20px;
			color: $darkGreyType;

			&.active, &:active, &:hover, &:focus {
				background-color: $dropdownHover;
			}
		}
	}
}

.right-area {
	background-color: $sidebarBg;
	height: 100%;
}
.header-area {
	border-top-left-radius: 25px;
	background-color: $white;
	min-height: 65px;
	line-height: 40px;
}
.content-area {
	background-color: $white;
}

.feed-area {
	background-color: $grey;
}
.details-block {
	li {
		font-size: 10px;
		display: inline-block;
		/*margin: 0 10px 10px 0;
		&:last-child {
			margin-bottom:0;
		}*/
	}
}
.status {
	font-size: 10px;
	color: rgba(0,0,0,0.5);
}
.status-sm {
	font-size: 8px;
	position: absolute;
	right: 0;
}
.feed-search {
	position: relative;
	/*&:after {
		content:'';
		position: absolute;
		right: -15px;
		top: 0;
		bottom: 0;
		width: 3px;
		height: 100%;
		background-color: $bcgBlueGreen;
		border-radius: 6px;
	}*/
}
.most-active-users {
	.media {
		position: relative;
		h5 {
			color: $black;
			font-size: 10px;
			line-height: 12px;
			margin: 0 0 5px;
		}
		.media-body {
			font-size: 10px;
			color: $greyType;
			max-width: 65px;
			margin-top: 3px;
		}
		span {
			position: relative;
			&:after {
				content:'';
				position: absolute;
				right: 10px;
    			top: 1px;
				width: 6px;
				height: 6px;
				border-radius: 50%;
				background-color: $darkGreyType;
			}
			&.active {
				&:after {
					background-color: $bcgLightGreen;
				}
			}
			&.away {
				&:after {
					background-color: $yellow;
				}
			}
		}
	}
}

.upcoming-area {
	@extend .most-active-users;

	.media {
		padding: 0;
		.media-body {
			max-width: 200px;
			letter-spacing: .60px;
			line-height: 14px;
			margin-top: 0;

			h5 {
				font-size: 14px;
				line-height: 14px;
			}
		}
		.date-area {
			div {
				font-size: 12px;
			}
			.date {
				color: $bcgGreen;
				font-size: 24px;
			}
		}
	}
}

.quetion-area {
	p {
		font-size: 14px;
		color: $question;
	}
}

.right-sidebar {
	width: 70px;
	height: 90%;
	background-color: $sidebarBg;
	font-size: 10px;
	border-radius: 30px;
	position: relative;
	top: 20px;

	ul {
		display: flex;
	    flex-direction: column;
	    justify-content: space-between;
	    height: 60%;
	}

	li {
		a {
		color: $white;
		display: block;
		padding: 10px 4px;
			&:hover {
				color: $sidebarBg;
				background-color: $white;
				border-radius: 30px;
			}
		}
	}

	i {
		font-size: 18px;
	}
	.badge {
		width: 40px;
		line-height: 18px;
	}
}
.min-height-1 {
	min-height: 455px;
}
#main-content-scroll {
	padding: 0 15px;
	height: 87vh !important;
}
#feed-scroll {
	height: 87vh !important;
}
.feed-area {
	.slimScrollDiv, .slimscroll-wrapper {
		width: calc(100% - -15px) !important;
	    padding-right: 15px;
	    margin: 0 !important;
	}
}

.content-area {
	.slimScrollDiv, .slimscroll-wrapper {
		height: 87vh !important;

		.slimScrollBar {
			width: 4px !important;
			background-color: $bcgBlueGreen !important;
			border-radius: 3px !important;
			cursor: pointer;
		}
	}
}


.right-content-area {
	.slimScrollDiv, .slimscroll-wrapper {
		/*width: calc(100% - -15px) !important;
    	padding-right: 15px;*/
	}
}
.history-area {
	position: absolute;
    bottom: 13px;
    left: 50%;
    transform: translateX(-50%);

    a {
    	width: 54px;
    	height: 81px;
    	color: $white;
    	font-size: 10px;
    	padding: 10px 4px;
    	display: block;

    	&:hover {
			color: $sidebarBg;
			background-color: $white;
			border-radius: 30px;

			i {
				color: $sidebarBg;
			}
		}
    }
}

#sidebar-scroll {
	padding-right: 7px;
	height: 62vh !important;
}
.sidebar {
	.slimScrollDiv, .slimscroll-wrapper {
		height: 62vh !important;

		.slimScrollBar {
			width: 4px !important;
			background-color: $bcgBlueGreen !important;
			border-radius: 3px !important;
			right: 5px !important;
			cursor: pointer;
		}
	}
}
.currently-active, .new-login, .most-active-users {
	min-height: 246px;
}
.container-xl {
	max-width: 100%;
}

.col-9.right-area {
	-ms-flex: 0 0 77%;
    flex: 0 0 77%;
    max-width: 77%;
}
.col-1.notification-area {
	-ms-flex: 0 0 6.333333%;
    flex: 0 0 6.333333%;
    max-width: 6.333333%;
}

.create-modal {
	.modal-dialog {
		width: 750px;
		max-width: 750px;
	}
}



.modal-footer {
	padding: 25px;
	.text-muted {
		font-size: 10px;
		color: $lightGreyType;
	}
}
.modal-header {
	padding: 25px 0;
	width: calc(100% - 50px) !important;
    margin-left: 25px;
	.close {
		color: $black;
		border-radius: 50%;
	    width: 20px;
	    height: 20px;
	    line-height: 14px;
	    border: solid 1px rgba(0, 0, 0, 0.2);
	    padding: 0px;
	    margin: 0;
	    margin-top: 6px;
		&:hover {
			color:$darkGreyType;
		}
		span {
			font-size: 12px;
			line-height: 18px;
		}
	}
}


.modal-content {
	padding: 0;

	.modal-body {
		padding: 0;
	}
}
.tab-area {
	.nav {
		width: calc(100% - 50px) !important;
    	margin-left: 25px;
	}
	.slimScrollDiv {
		height: 400px !important;

		.slimScrollBar {
			width: 4px !important;
			background-color: $bcgBlueGreen !important;
			border-radius: 3px !important;
			cursor: pointer;
			right: 2px;
		}
	}
	.inner-content {
		height: 400px !important;
		padding: 25px;
	}
	.nav {
		.nav-link {
			color: $greyType;
			font-size: 14px;
			position: relative;
			padding: 12px 0;
			margin-right: 45px;

			&:hover, &.active {
				color:$bcgGreen;
				font-weight: bold;

				&:after {
					content:'';
					position: absolute;
					left:0;
					right: 0;
					bottom: -1px;
					background-color: $bcgGreen;
					height: 2px;
				}
			}
		}
	}
}
.or-sep {
	color: $lightGreyType;
	font-size: 8px;
}
.form-group {
	label {
		font-family: 'Henderson-light';
		font-size: 12px;
		line-height: 18px;
		color: $darkGreyType;
	}
}
.btn {
	&.rounded-circle {
		width: 25px;
	    height: 25px;
	    text-align: center;
	    padding: 0;
	    line-height: 21px;
	}
}
.add-field-area {
	label {
		min-width: 100px;
		font-size: 12px;
		margin-bottom: 10px;	
	}
}

.alphabet-letter {
	width: 31px;
	height: 31px;
	line-height: 31px;
	color: $white;
	background-color: $green;
}

.custom-dropdown {
	.form-control {
		padding: 5px 15px;
		height: calc(1.5rem + 4px) !important;
	}
}

.popover {
	width: 250px;
	padding: 15px;

	.popover-body {
		padding: 0;
	}

	.popover-header {
		background-color: transparent;
    	padding: 0 0 .5rem 0;
	}
	.close {
		margin-top: -4px;
		color: $bcgGreen;
		font-size: 18px;
	}
	.selection-area {
		padding: 15px 0px 5px;
		p {
			color: $bcgGreen;
			font-size: 12px;
		}
		label {
			font-size: 10px;


		}
	}

	.custom-control.custom-radio {
		padding-left: 20px;

		.custom-control-label {

			&:before {
				left: 0px;
			    width: 14px;
			    height: 14px;
			    top: 1px;
			}
		}

		.custom-control-input {
			&:checked~ {
				.custom-control-label {
					&:after {
					    width: 8px;
					    height: 8px;
					    left: 3px;
    					top: 4px;
					}
				}
			}
		}
	}

	.custom-control.custom-checkbox {
		padding-left: 0;
    	padding-right: 20px; 

    	.custom-control-label {
    		font-size: 12px;
    		&:before {
    			right: 0px;
    			left: auto;
    			top: -1px;
    		}
    		&:after {
    			left: auto;
    			right: 0px;
    			top: 0;
    		}
    	}
	}

	.inner-search-area {
		background-color: $lighterGrey;
		padding: 15px 20px;
		width: calc(100% - -30px);
    	margin-left: -15px;

		.form-control {
			border:solid 1px $dropdownBorder;

			&::placeholder {
				font-size:10px;
				color: $extraLightGrey;
			}
		}
		label {
			font-size: 10px;
		}
		.search-box {
			position: relative;

			i {
				position: absolute;
				right: 10px;
    			top: 9px;
				color: $extraLightGrey;
				font-size: 10px;
			}
		}
	}
}

/*.form-left {
	float: left;
	width: 60%;
}
.form-right {
	float: left;
	width: 40%;
}*/
.all {
	color: $bcgGreen !important;
}
.popover {
	border:none;
	@extend .box-shadow;

	.arrow {
		height: 0;
		margin: 0;
		&:after {
			border: none;
		}
		&:before {
			border:none;
		}
	}
	textarea.form-control {
			border: solid 1px $dropdownBorder;
			min-height: 40px;

			&::placeholder {
				font-size:8px;
				color: $extraLightGrey;
			}
		}
}

.more {
	position: relative;
	padding-left: 15px;
	&:before {
		content:'';
		position: absolute;
	    left: 0;
	    top: 5px;
	    border: solid $bcgGreen;
	    border-width: 1px 1px 0px 0;
	    padding: 2px;
	    transform: rotate(225deg);
	}
}
.information {
	font-size: 7px;
	color: $lightGreyType;
}
.modal-footer {
	.btn {
		font-size: 12px;
		min-width: 125px;
		padding: 6px 20px;
	}
}
.switch-btn {
	max-width: 150px;
	span {
		font-size: 10px;
		color: $bcgDarkGrey;
	}
}


.login-reg-panel{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
	text-align:center;
    width:50%;
	right:0;left:0;
    margin:auto;
    height:400px;
    background-color: $sidebarBg;
    border-radius: 6px;
}
.white-panel{
    background-color: rgba(255,255, 255, 1);
    height:450px;
    position:absolute;
    top:-25px;
    width:50%;
    right:calc(50% - 50px);
    box-shadow: 0 0 15px -1px $sidebarBg;
    border-radius: 6px;
}
.login-reg-panel{
    color:#B8B8B8;
}
.login-reg-panel #label-login {
    border:1px solid #9E9E9E;
    padding:5px 5px;
    width:150px;
    display:block;
    text-align:center;
    border-radius:10px;
    cursor:pointer;
    font-weight: 600;
    font-size: 18px;
}
.login-info-box{
    width:30%;
    padding:0 50px;
    top:20%;
    left:0;
    position:absolute;
    text-align:left;
}
.logo-area-login{
    width:50%;
    padding:0 50px 0 100px;
    top:50%;
    transform: translateY(-50%);
    right:0;
    position:absolute;
    text-align:left;
    
}
.right-log{right:50px !important;}

.login-show {
    text-align:center;
    max-width: 230px;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
.show-log-panel{
    display:block;
}
.login-show input[type="text"], .login-show input[type="password"]{
    width: 100%;
    display: block;
    margin:20px 0;
    padding: 15px;
    border: 1px solid #b5b5b5;
    outline: none;
}
.login-show input[type="button"] {
    max-width: 150px;
    width: 100%;
    background: #444444;
    color: #f9f9f9;
    border: none;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 2px;
    float:right;
    cursor:pointer;
}
.login-show a{
    display:inline-block;
    padding:10px 0;
}


.credit {
    position:absolute;
    bottom:10px;
    left:10px;
    color: #3B3B25;
    margin: 0;
    padding: 0;
    font-family: Arial,sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    z-index: 99;
}

.tab-area.search-tab {
	.nav {
		.nav-link {
			font-size: 10px;
			margin-right: 0;
		}
	}
}
.search-list {
	li {
		font-size: 12px;
		padding: 5px 10px;
		display: block;
		cursor: pointer;

		&:hover, &.active {
			color:$bcgGreen;
			background-color: rgba(23,123,87,0.1);
			border-radius: 30px;
		}
	}
}

.search-tab {
	margin-top: -10px;
	.close {
		position: absolute;
	    right: 8px;
	    top: 17px;
	}
}

.add-area {
	max-width: 330px;
	span.added-value {
	    width: auto;
	    margin:0 10px 0px 0;
	    padding-right: 30px;
	    position: relative;

	    i {
	    	position: absolute;
		    top: 7px;
		    right: 10px;
	    }
	}
	.btn-add {
		margin-bottom: 10px;
	}
}
.icon-wrapper {
	position: relative;
	display: block;
	.form-control {
		padding-left: 26px;
	}
	i {
		font-size: 12px;
		color: $dropdownBorder;
		position: absolute;
		left: 8px;
	    top: 8px;
	}
}
.btn-primary {
	.icon-plus-icon {
		font-size: 10px;
	}
}
.btn-primary.bg-transparent {
	color: $greyType;
	border-color: $dropdownBorder;
	position: relative;

	&:hover, &:not(:disabled):not(.disabled).active, &:not(:disabled):not(.disabled):active, &.focus,&:focus {
		color: $white;
		background-color: $bcgBlueGreen !important;

		i {
			color: $white;
		}
	}
	&.focus,&:focus {
		i.icon-plus-icon {
			top: 9px;
			&:before {
				content: "\e924";
			}
		}
	}
	i {
		color: $greyType;
		position: absolute;
		right: 15px;
		top: 8px;
	}
	.icon-option-icon {
		transform: rotate(90deg);
	}
}

.more-options-popover {
	width: 145px;

	ul {
		width: calc(100% - -20px);
    	margin-left: -10px;
	}

	li {
		font-size: 12px;
		color: $darkGreyType;
		padding: 5px 10px;
		display: block;

		&:hover {
			color:$bcgGreen;
			background-color: rgba(23,123,87,0.1);
			border-radius: 30px;
		}

		a {
			font-size: 12px;
			color: $darkGreyType;
			padding: 5px 10px;
			display: block;

			&:hover {
				color:$bcgGreen;
				background-color: rgba(23,123,87,0.1);
				border-radius: 30px;
			}
		}
	}
}

.add-gallery-area {
	width: calc(100% - -224px);
	margin-left: -25px;
	padding: 20px;
	background-color: $lighterGrey;
	position: relative;

	.form-control {
		height: 35px;
	}
	textarea.form-control {
		height: 100px;
	}
}
.add-gallery-left {
	padding-right: 25px;
}
.add-gallery-right {
	padding-left: 25px;
}
.logistics-area {
	.custom-file {
		max-width: 100%;
		p {
			left: auto;
		    width: auto !important;
		    max-width: 205px;
		    top: 28px;
		    transform: none;
		    left: -130px;

		    span:last-child {
		    	position: relative;
			    top: 14px;
			    left: 30px;
		    }
		}
		.custom-file-label {
			top: auto;
		    left: 0;
		    transform: none;
		    margin-top: 35px;
		}
	}
	.custom-inner-area {
		.row.w-50 {
			position: absolute;
		    left: 50%;
		    transform: translateX(-50%);
		    margin-left: 60px;
		}
	}
}


.more-details-area {
	.slimScrollDiv, #pop-listing-area {
		height: 90px !important;
	}
}

.logistics-area.agenda-area {
	.custom-file {
		p {
			left: 62px;
			top: 30px;
			max-width: 230px;
			span:last-child {
				top: 11px;
			}
		}
		.custom-file-label {
			left: 90px;
		}
	}
	.add-gallery-right {
		padding-left: 15px;
	}
}

.popover {
	.custom-file {
		p {
			width: 75% !important;
		}
	}
}

.add-main-img-area {
	label {
		min-width: 100px;
    	font-size: 12px;
	}
	.main-img-thumb {
		max-width: 80px;
		margin-right: 10px;
	}
	.btn-secondary {
		@extend .btn-primary,.rounded-circle;
		i {
			font-size: 10px;
		}
	}
}

.icon-box {
	width: 80px;
	height: 50px;
	line-height: 45px !important;
	text-align: center;
	background-color: $bcgBlueGreen;
	color: $white;
	font-size: 16px;
	margin-right: 10px;
}

.time-date-area {
	.btn-primary.bg-transparent  {
		margin-right: 10px;
	    padding-left: 28px;
	    font-size: 11px;
		i {
			right: auto;
			left: 10px;
		    top: 7px;
		    font-size: 11px;
		}
	}
}



.gallery-carousel-area {
	.inner-title {
		font-size: 12px;
		color: $darkGreyType;
	}
	.rounded {
	    border-radius: 10px!important;
	}
	.customPrevBtn {
		width: 22px;
		height: 22px;
		background-color: $white;
		position: relative;
		font-size: 0;
		cursor: pointer;
		&:after {
			content:'';
			position: absolute;
			top: 7px;
			right:7px;
			border:solid $bcgGreen;
			border-width: 0 1px 1px 0;
			padding: 3px;
			transform: rotate(135deg);
		}
	}
	.customNextBtn {
		&:after {
			transform: rotate(-45deg);
		}
		@extend .customPrevBtn
	}
	.item {
		p {
			font-size: 12px;
			color: $darkGreyType;
			margin-top: 10px;
			display: -webkit-box;
		    -webkit-line-clamp: 3;
		    -webkit-box-orient: vertical;
		}
		label {
			position: absolute;
		    right: 0;
		    top: 4px;
		}
	}

	.custom-control {
		&.custom-radio {
			line-height: 25px;
		    padding-left: 0;
		    padding-right: 30px;
		    .custom-control-label {
		    	&:before {
		    		width: 25px;
    				height: 25px;
    				border-color: $bcgBlueGreen;
		    	}
		    	&:before, &:after {
		    		left: auto;
		    		right: -3px;
		    	}
		    }

		    .custom-control-input:checked ~ .custom-control-label:after {
		    	    left: auto;
				    right: 2px;
				    width: 15px;
				    height: 15px;
				    top: 5px;
		    }
		}
	}

}
.btn-delete {
	i {
		font-size: 10px;
	}
	&:hover, &:not(:disabled):not(.disabled).active, &:not(:disabled):not(.disabled):active, &.focus,&:focus {
		border-color: #bd2130 !important;
	}
}

.inner-close-btn {
	position: absolute;
    right: 10px;
    top: 10px;
    width: 18px !important;
    height: 18px !important;
    line-height: 17px !important;
}

.search-box-right {
	.form-control {
		position: absolute;
	    bottom: 12px;
	    right: -2px;
	    max-width: 70%;
	    width: 0;
	    opacity: 0;
	    transition: all 0.3s ease;
	    background-color: rgba(255,255,255,0.6);

	    &.open {
	    	width: 100%;
	    	opacity: 1;
	    }
	}
	i {
		right: 5px;
    	position: relative;
    	cursor: pointer;
	}
}
.edit-icon {
	img {
		max-width: 15px;
		margin-top: -5px;
	}
}
.add-more-files {

	input {
		position: absolute;
	    left: 0;
	    bottom: -2px;
	    width: 100%;
	    opacity: 0;
	    padding: 5px;
	}
}
.uploaded-list {
	li {
		font-size: 10px;
		color: $bcgGreen;
	}
}

.material-view-edit {
	.uploaded-list {
		max-width: 100px;
	}
	.icon-edit-icon {
		font-size: 12px;
		color: $bcgGreen;
		position: relative;
    	top: -1px;
	}

	li {
		color: $greyType;
	}
}

.theme-blue .previous, .theme-blue .next {
	width: 22px;
	height: 22px;
	background-color: $white;
	position: relative;
	font-size: 0;
	cursor: pointer;
	-webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.1);
	box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.1);
	border-radius: 50%;
}
		
.poll-view {
	ul {
		padding: 0 15px;
		display: flex;
	    flex-wrap: wrap;
		li {
			list-style: disc;
		    width: 50%;
		    margin-bottom: 15px;

		    p:last-child {
		    	color:$black;
		    }

			.poll-quetion {
				font-size: 14px;
			}
		}
	}
}		