.btn {
	&:hover, &:not(:disabled):not(.disabled).active, &:not(:disabled):not(.disabled):active, &.focus,&:focus {
		box-shadow:none !important;
	}
}
.btn-secondary {
    background-color: $extraLightGrey;
    border-color: $extraLightGrey;
    color: $darkGreyType;
    &:hover, &:not(:disabled):not(.disabled).active, &:not(:disabled):not(.disabled):active, &.focus,&:focus {
    	background-color: $greyType !important;
    }
}
.show>.btn-primary.dropdown-toggle {
	background-color: $bcgLightGreen;
	border-color: $bcgLightGreen;
	
	&:focus {
		box-shadow: none;
	}
}

.btn {
	padding: 8px 15px;
}
.btn-lg {
	padding: 20px 60px;
}

.btn-sm {
	font-size: 9px;
	padding: 5px 20px;
    height: calc(1.5rem + 7px) !important;
}
.btn-add {
	font-size: 12px;
	padding: 4px 10px;
}