.w-auto {
	width: auto;
}
.w-95 {
	width: 95px;
}
.w-110 {
	width: 111px;
}
.w-148 {
	width: 148px;
}
.w-155 {
	width: 155px;
}
.h-28 {
	height: calc(1.5rem + 4px) !important;
}

.dropdown-toggle::after {
	content:"";
	border: solid $white;
	border-width: 0 1px 1px 0;
	display: inline-block;
	padding: 3px;
	position: absolute;
	right: 23px;
	bottom: 18px;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}

.badge-primary {
	font-size: 12px;
	font-weight: normal;
	background-color: $bcgLightGreen;
	border-radius: 30px;
}
.badge-secondary {
	font-size: 9px;
	background-color: $darkGreyType;
	width: 20px;
	height: 20px;
	line-height: 17px;
}

.media {
	border-bottom: solid 1px rgba(255,255,255,0.1);
	padding: 0 0 10px;

	img {
		max-width: 30px;
		border-radius: 50px;
	}
	h5 {
		font-size: 13px;
		color: $white;
		margin:0 0 5px;
	}
	.media-body {
		color: $white;
		font-size: 12px;
	}
}
.border-top {
	border-color: $grey;
}
.border-bottom, .border-right {
	border-color: rgba(242,242,242,0.7);
}

.box-shadow {
	-webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.1);
	box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.1);
	border-radius: 6px;
}


.custom-control.custom-radio {
	padding-left: 30px;

	.custom-control-label {

		&:before {
			border: solid 1px $radioBorder;
			background-color: $white;
			left: 0px;
		    width: 20px;
		    height: 20px;
		    top: 0;
		}
		span {
			font-size: 12px;
		}
	}

	.custom-control-input {
		&:checked~ {
			.custom-control-label {
				&:before {
					border-color: $bcgGreen;
					background-color: $white;
				}
				&:after {
					background-image:none;
					background-color: $bcgLightGreen;
				    border-radius: 50%;
				    width: 12px;
				    height: 12px;
				    left: 4px;
				    top: 4px;
				}
				span {
					color: $bcgLightGreen;
				}
			}
		}
		&:focus~ {
			.custom-control-label {
				&:before {
					box-shadow: none;
				}
			}
		}
	}
}

.custom-control.custom-checkbox {
	.custom-control-input {
		&:checked~ {
			.custom-control-label {
				&:before {
					background-color: $bcgLightGreen;
					border-color: $bcgLightGreen;
				}
			}
		}
	}


	.custom-control-label {
		&:before {
			background-color: $white;
    		border: solid 1px $radioBorder;
		}
	}
	.custom-control-input {
		&:focus~ {
			.custom-control-label {
				&::before {
					box-shadow:none;
				}
			}
		}
	}
}
.icon-bg {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: rgba(112,218,141,0.15);
	display: inline-block;
	line-height: 27px !important;
}
.custom-dropdown {

	.btn.btn-secondary {
		font-size: 11px;
		color: $darkGreyType;
    	border-radius: 6px;
		border-color: $dropdownBorder;
		padding-right: 35px;
    	position: relative;

    	&:after {
			content:'';
			position: absolute;
			right: 10px;
	    	top: 10px;
			border: solid $dropdownBorder;
			border-width: 0 1px 1px 0;
			transform: rotate(45deg);
	        -webkit-transform: rotate(45deg);
	        padding: 3px;
		}
		&:hover, &:not(:disabled):not(.disabled).active, &:not(:disabled):not(.disabled):active, &.focus,&:focus {
			color: $darkGreyType !important;
			background-color: transparent !important;
			border-color: $dropdownBorder !important;
			&:after {
				border-color: $dropdownBorder !important;
			}
		}
	}

	.dropdown-menu {
		font-size: 12px;
		color: $darkGreyType;
		border-radius: 12px;
		padding: .5rem 5px;

		.dropdown-item {
			border-radius: 12px;
			padding: 6px 15px;
			&.active, &:active, &:hover, &:focus {
				background-color: $dropdownHover;
				color: $darkGreyType;
			}
		}
	}
}
.form-control {
	font-family: 'Henderson-light';
	border: solid 1px $dropdownBorder;
	padding: 5px 15px;
    height: 28px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    line-height: 15px;
    font-size: 11px;
    border-radius: 6px;
   &:focus {
	   	box-shadow: none;
	   	outline: none;
   }
   option {
   	  padding: 10px 5px;
   	  font-size: 14px;
   	  height: 28px;
   }
}


.switch {
  position: relative;
  display: inline-block;
  width: 28px;
  height: 16px;
  float:right;

	  .slider {
		  position: absolute;
		  cursor: pointer;
		  top: 0;
		  left: 0;
		  right: 0;
		  bottom: 0;
		  background-color: $extraLightGrey;
		  -webkit-transition: .4s;
		  transition: .4s;

	  &:before {
		  	content:'';
		    position: absolute;
		    content: "";
		    height: 12px;
		    width: 12px;
		    left: 4px;
		    bottom: 2px;
		    background-color: white;
		    -webkit-transition: .4s;
		    transition: .4s;
		}
	}
  
  input:focus + .slider {
	  box-shadow: 0 0 1px #2196F3;
	}

	input:checked + .slider:before {
	  -webkit-transform: translateX(9px);
	  -ms-transform: translateX(9px);
	  transform: translateX(9px);
	}
	.slider.round {
	    border-radius: 34px;
	}
	.slider.round:before {
	    border-radius: 50%;
	}
  .primary {
  	display: none;
  	&:checked {
  		+ {
  			.slider {
  				background-color: $bcgGreen;
  			}
  		}
  	}
  	
  }
}

.custom-file {
	background-color: $customFilebg;
	border:dashed 1px $dropdownBorder;
	height: 100px;	
	position: relative;
	max-width: 280px;

	p {
		font-size: 10px;
		position: absolute;
	    left: 50%;
	    transform: translateX(-50%);
	    width: 65% !important;
		i {
			font-size: 40px;
			color: $dropdownBorder;
		}
	}
	.custom-file-input {
		height: 100px;	
	}
	.custom-file-label {
		width: 90px;
		height: 30px;
    	line-height: 15px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		margin-top: 20px;
		&:after {
			display:none;
		}
	}
}

.mandatory {
	color: $bcgLightRed;
	font-size: 8px;
}