@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon/icomoon.eot?er37zh');
  src:  url('../fonts/icomoon/icomoon.eot?er37zh#iefix') format('embedded-opentype'),
    url('../fonts/icomoon/icomoon.ttf?er37zh') format('truetype'),
    url('../fonts/icomoon/icomoon.woff?er37zh') format('woff'),
    url('../fonts/icomoon/icomoon.svg?er37zh#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pdf-icon:before {
  content: "\e926";
}
.icon-edit-icon:before {
  content: "\e925";
}
.icon-cloud-computing-icon:before {
  content: "\e922";
}
.icon-gift-icon:before {
  content: "\e923";
}
.icon-minus-icon:before {
  content: "\e924";
}
.icon-cloud-upload:before {
  content: "\e921";
}
.icon-calendar-icon:before {
  content: "\e916";
}
.icon-cancel-icon:before {
  content: "\e917";
}
.icon-clock-icon:before {
  content: "\e918";
}
.icon-delete-icon:before {
  content: "\e919";
}
.icon-hidden-Icon:before {
  content: "\e91a";
}
.icon-location-icon:before {
  content: "\e91b";
}
.icon-option-icon:before {
  content: "\e91c";
}
.icon-plus-icon:before {
  content: "\e91d";
}
.icon-upload-icon:before {
  content: "\e91e";
}
.icon-view-icon:before {
  content: "\e91f";
}
.icon-visibility-icon:before {
  content: "\e920";
}
.icon-activity-icon:before {
  content: "\e900";
}
.icon-analytics-icon:before {
  content: "\e901";
}
.icon-app-mngmnt-icon:before {
  content: "\e902";
}
.icon-calendar-icon1:before {
  content: "\e903";
}
.icon-categories-icon:before {
  content: "\e904";
}
.icon-close-icon .path1:before {
  content: "\e905";
  color: rgb(0, 0, 0);
  opacity: 0.2020;
}
.icon-close-icon .path2:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-close-icon-2 .path1:before {
  content: "\e907";
  color: rgb(0, 0, 0);
}
.icon-close-icon-2 .path2:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-enrollment-icon:before {
  content: "\e909";
}
.icon-feedback-icon:before {
  content: "\e90a";
}
.icon-help-icon:before {
  content: "\e90b";
}
.icon-home-icon:before {
  content: "\e90c";
  color: #21e39d;
}
.icon-notification-icon:before {
  content: "\e90d";
}
.icon-polls-icon:before {
  content: "\e90e";
}
.icon-reload-icon:before {
  content: "\e90f";
}
.icon-reports-icon:before {
  content: "\e910";
}
.icon-rewards-icon:before {
  content: "\e911";
}
.icon-rewards-icon-2:before {
  content: "\e912";
}
.icon-search-icon:before {
  content: "\e913";
}
.icon-setting-icon:before {
  content: "\e914";
}
.icon-user-faqs-icon:before {
  content: "\e915";
}
