/*
 * Project: life BCG
 * File: _ngxCustom
 * Author: Sushant Indulkar - sushant.indulkar@wwindia.com
 * -----
 * Copyright (c) 2020
 * -----
 * HISTORY:
 * Date      	By       	Comments
 * ----------	---------	---------------------------------------------------------
 */

 .customModalLarge {
	max-width: 750px !important;
 }
 #sidebar-scroll, .sidebar .slimscroll-wrapper, .sidebar .slimScrollDiv {
    height: 50vh!important;
}

 .customNgxTabs {
	.inner-content {
		padding: 25px !important;
		height: 380px !important;
	}
	.nav {
		border-color: rgba(242, 242, 242, 0.7);
		border-bottom: 1px solid #dee2e6!important;
		width: calc(100% - 50px) !important;
    	margin-left: 25px;

		.nav-link {
			color: $greyType;
			font-size: 14px;
			position: relative;
			padding: 12px 0;
			margin-right: 45px;
			background-color: transparent !important;

			&:hover, &.active {
				color:$bcgGreen;
				background-color:transparent !important;
				font-weight: bold;

				&:after {
					content:'';
					position: absolute;
					left:0;
					right: 0;
					bottom: -1px;
					background-color: $bcgGreen;
					height: 2px;
				}
			}
		}
	}
}

.customNgxTabsPopover {
	.inner-content {
		padding: 25px 0px;
	}
	.nav {
		border-color: rgba(242, 242, 242, 0.7);
		border-bottom: 1px solid #dee2e6!important;
		width: calc(100% - 0px) !important;
    	margin-left: 0px;

		.nav-link {
			color: $greyType;
			font-size: 10px;
			position: relative;
			padding: 12px 0;
			margin-right: 10px;
			background-color: transparent !important;

			&:hover, &.active {
				color:$bcgGreen;
				background-color:transparent !important;
				font-weight: bold;

				&:after {
					content:'';
					position: absolute;
					left:0;
					right: 0;
					bottom: -1px;
					background-color: $bcgGreen;
					height: 2px;
				}
			}
		}
	}
}

.pocPopoverClose {
	position: absolute;
	top:30px;
	right: 13px;
}
.popover {
	.close {
		color: $bcgGreen !important;
	}
}
.customNgxDropdown {
	border-radius: 8px;
	padding: 0.5rem 5px;
	
	a {
		font-size: 12px;
		border-radius: 12px;
		padding: 9px 18px;
		color: #333333;
		
		&.active, &:active, &:hover, &:focus {
			background-color: $dropdownHover;
		}
	}
}

.inner-search-area {
	.slimscroll-wrapper, .pop-custom-category-scrollbar {
		height: 120px !important;
		width: calc(100% - -20px) !important;
		padding-right: 20px;
	}
}

.mt-5 {
	margin-top: 5px;
}

.add-field-area-custom label {
	min-width: 105px !important;
}

// Datepicker
.bs-datepicker {
	box-shadow: none !important;
}

.bs-datepicker-body {
	border: none;
}

.theme-blue .bs-datepicker {
	box-shadow: none;
}

.theme-blue .bs-datepicker-container {
	padding: 0px;
}	

.theme-blue .bs-datepicker-container .bs-datepicker-head {
	background-color: $white;
	padding: 0 !important;
    margin-top: 15px !important;
	height: 22px !important;
	color: $bcgBlueGreen;
}
.current span {
    color: #3fad93;
    font-size: 10px;
}

/*.theme-blue .bs-datepicker-container .bs-datepicker-head * {
	color: $bcgBlueGreen;
}*/

.theme-blue .bs-datepicker-body table td.week span {
	color: $bcgBlueGreen;
}

.theme-blue .bs-datepicker-body table td span.selected {
	background-color: $bcgBlueGreen;
}

.bs-datepicker-body table td {
	padding: 5px 0 !important;
}
.bs-datepicker-body table th { 
	color: $bcgBlueGreen;
	line-height: 20px !important;
	padding: 5px 0;
}

.theme-blue .previous, .theme-blue .next {
	width: 20px !important;
	height: 20px !important;
	background-color: $white;
	position: relative;
	cursor: pointer;
	-webkit-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.1);
	box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.1);
	border-radius: 50%;

	span {
		font-size: 0px !important
	}

	&:after {
		content:'';
		position: absolute;
		top: 7px;
		right:7px;
		border:solid $bcgGreen;
		border-width: 0 1px 1px 0;
		padding: 2px;
		transform: rotate(135deg);
	}

	span {
	 font-size: 16px !important;
	 line-height: 11px !important;
	}
}
.theme-blue .next {
	&:after {
		transform: rotate(-45deg);
		right: 8px;
	}
}

.bs-datepicker-head button.current {
	padding: 0 !important;
}
.bs-datepicker-body table th {
	font-size: 11px !important;
	color: $bcgGreen !important;
}
.bs-datepicker-body table td span {
	font-size: 11px !important;
}
.bs-datepicker-body table.days span {
    width: 28px !important;
    height: 28px !important;
    line-height: 28px !important;
}
.bs-datepicker-body table td span.is-highlighted:not(.disabled):not(.selected) {
	background-color: $bcgLightGreen !important;
	color: $white !important;
}
.bs-datepicker-head {
	min-width: 150px !important;
	width:150px !important;
	button {
		height:20px;
		line-height: 17px !important;
	}
}
.current span {
    color: #3fad93;
    font-size: 10px;
}
/*.theme-blue .bs-datepicker-container .bs-datepicker-head * {
	font-size:10px !important;
	color: $bcgGreen;
}*/

.calendar-footer {
	padding: 0 18px;
	label {
		display: inline-block;

		.custom-control-label {
			font-size: 10px;
		}
	}
	.btn {
		height: calc(1rem + 6px)!important;
	    min-width: 90px;
	    margin-top: 2px;
	    line-height: 2px;
	}
	.custom-control.custom-checkbox {
	    padding-left: 20px;
	    padding-right: 0;
	}
	.custom-control.custom-checkbox .custom-control-label:before {
		top: 7px;
		right: auto;
    	left: 0;
    	width: 12px;
    	height: 12px;
	}
	.custom-control.custom-checkbox .custom-control-label:after {
		top: 7px;
		left: 0;
    	right: auto;
    	width: 12px;
    	height: 12px;
	}
}
.calendar_dropdown {
	position: absolute;
	right:10px;
	top: 52px;
    z-index: 10;

    .btn {
    	width: 70px !important;
    	min-width: 70px !important;
    	padding: 0px 10px !important;
    	font-size: 10px !important;
    	padding-right: 15px !important;

    	&:after {
    		right: 6px !important;
    		top: 6px !important;
    		padding: 2px !important;
    	}
    }
    .dropdown-menu {
    	padding: 0 !important;
    }

	label {
		font-size:10px;
	}
	.h-28 {
		height: calc(1rem + 4px) !important;
	}
	
}
// End Datepicker

.customCurserPointer {
	cursor: pointer;
}

.owl-nav {
	position: absolute;
	top:-47px;
	right:0;
	.owl-prev {
		width: 22px;
		height: 22px;
		background-color: $white !important;
		position: relative;
		font-size: 0 !important;
		-webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.1);
		-moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.1);
		box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.1);
		border-radius: 50% !important;
		cursor: pointer;
		&:after {
			content:'';
			position: absolute;
			top: 7px;
			right:7px;
			border:solid $bcgGreen;
			border-width: 0 1px 1px 0;
			padding: 3px;
			transform: rotate(135deg);
		}
	}
	.owl-next {
		&:after {
			transform: rotate(-45deg);
		}
		@extend .owl-prev
	}
}

.add-more-files {
	
	input {
		position: absolute;
	    left: 0;
	    bottom: -2px;
	    width: 100%;
	    opacity: 0;
	    padding: 5px;
	}
}

.custom-file {
	.text-muted {
		 display: -webkit-box;
		   -webkit-line-clamp: 2;
		   -webkit-box-orient: vertical;
				  font-size:10px
	}
}

.calendar-options-popover {
	width: 308px;
	max-width: 308px;
	// padding: 15px 0px 0px;
}

/*time css*/
.calendar-time-options-popover {
	width: 160px;
	max-width: 160px; 

	.more-details-area {
		padding: 15px 0;

		.bs-timepicker-field, .btn, .btn.focus, .btn:focus, .btn:hover, .btn:not(:disabled):not(.disabled).active, .btn:not(:disabled):not(.disabled):active {
		    width: 30px;
		    height: 25px;
		    -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1) !important;
		    -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1) !important;
		    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1) !important;
		    font-size: 11px;
		    background-color: $white;
		    text-align: center !important;
		    padding: 2px;
		}

		.btn.btn-primary {
			height: calc(1rem + 6px)!important;
		    min-width: 90px;
		    margin-top: 10px;
		    line-height: 2px;
		}
	}
	label {
	   display: inline-block;

	   .custom-control-label {
	      font-size: 10px;
	   }
	}
	.custom-control.custom-checkbox {
	    padding-left: 20px;
	    padding-right: 0;
	}
	.custom-control.custom-checkbox .custom-control-label:before {
	   top: 7px;
	   right: auto;
	   left: 0;
	   width: 12px;
	   height: 12px;
	}
	.custom-control.custom-checkbox .custom-control-label:after {
	   top: 7px;
	   left: 0;
	   right: auto;
	   width: 12px;
	   height: 12px;
	}
}

.calendar-time-options-popover {
	.more-details-area {
	   table {
		  margin:0 auto;
	   }
   }
 }

// .slimscroll-bar {
// 	height: 80px !important;
// }
