@font-face {
    font-family: 'Henderson-regular';
    src: url('../fonts/bcg-fonts/HendersonBCGSans-Regular.woff2') format('woff2'),
        url('../fonts/bcg-fonts/HendersonBCGSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Henderson-light';
    src: url('../fonts/bcg-fonts/HendersonBCGSans-Light.woff2') format('woff2'),
        url('../fonts/bcg-fonts/HendersonBCGSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Henderson-italic';
    src: url('../fonts/bcg-fonts/HendersonBCGSans-Italic.woff2') format('woff2'),
        url('../fonts/bcg-fonts/HendersonBCGSans-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Henderson-bold-italic';
    src: url('../fonts/bcg-fonts/HendersonBCGSans-BoldItalic.woff2') format('woff2'),
        url('../fonts/bcg-fonts/HendersonBCGSans-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Henderson-thin-italic';
    src: url('../fonts/bcg-fonts/HendersonBCGSans-ThinItalic.woff2') format('woff2'),
        url('../fonts/bcg-fonts/HendersonBCGSans-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Henderson-thin';
    src: url('../fonts/bcg-fonts/HendersonBCGSans-Thin.woff2') format('woff2'),
        url('../fonts/bcg-fonts/HendersonBCGSans-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Henderson-bold';
    src: url('../fonts/bcg-fonts/HendersonBCGSans-Bold.woff2') format('woff2'),
        url('../fonts/bcg-fonts/HendersonBCGSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Henderson-light-italic';
    src: url('../fonts/bcg-fonts/HendersonBCGSans-LightItalic.woff2') format('woff2'),
        url('../fonts/bcg-fonts/HendersonBCGSans-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: middle;
}
a {
	text-decoration: none;
	outline: none;
	color:$bcgLightGreen;
	&:hover {
		color:$bcgLightGreen;
		text-decoration: none;
	}
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
object{outline:none; display:block; overflow:hidden} /* force redraw on IE8, fix outline/scroll bug on Firefox 3.6, remove unnecessary margin (copied from swffit)  */
textarea{overflow:auto} /* fix IE */
iframe{border:0}
sup, sub{line-height:0; font-size:.75em; position:relative; vertical-align:baseline}
sup{top:-0.5em}
sub{bottom:-0.25em}

h1, .h1{font-size:22px; font-weight:bold; color: $black;}
h2, .h2{font-size:16px; color: $darkGreyType; font-weight: normal;}
h3, .h3{font-size:18px; font-weight: normal;}
h4, .h4{font-size:24px; font-weight: normal;}
h5 {font-size:14px; font-weight: normal;}
h6 {font-size: 10px;}

.h5 {font-size: 14px; font-weight: bold; color: $bcgGreen;}
.h6 {font-size: 12px; font-weight: bold;}

p {
	font-family: 'Henderson-light';
	font-size: 12px;
	line-height: 18px;
	letter-spacing: .60px;
	color: $greyType;	
}