button {
	&.bg-light {
		background-color: $bcgBlueGreen !important;
	    border-color: $bcgBlueGreen;
			&:hover, &:not(:disabled):not(.disabled).active, &:not(:disabled):not(.disabled):active, &.focus,&:focus {
		    	background-color: $bcgGreen !important;
		    	border-color: $bcgGreen !important;
		    	box-shadow: none !important;
		    }
	}	

	&.bg-dark {
		background-color: $bcgGreen !important;
		border-color: $bcgGreen;
		&:hover, &:not(:disabled):not(.disabled).active, &:not(:disabled):not(.disabled):active, &.focus,&:focus {
		    	background-color: $bcgLightGreen !important;
		    	border-color: $bcgLightGreen !important;
		    	box-shadow: none !important;
		    }
	}
}

.text-green {
	color: $bcgGreen;
}
.bg-info {
	background-color: $info;
}
.rounded-pill {
	border-radius: 30px;
}


