<!--
Project: life BCG
File: add-app-url-popover.component
Author: Sushant Indulkar - sushant.indulkar@wwindia.com
-----
Copyright (c) 2020
-----
HISTORY:
Date      	By       	Comments
----------	---------	---------------------------------------------------------
-->

<!-- apps popover start -->
<h3 class="popover-header">
    <h6 class="text-uppercase">{{title}}<a (click)="pop.hide()" class="close float-right" data-dismiss="alert">×</a>
    </h6> 
</h3>

<div class="popover-body">
    <div class="more-details-area">
       <div class="pt-3 px-2 text-center">
            <div class="form-group mb-2">
                <input type="text" name="" placeholder="App Name" class="form-control">
            </div>
            <div class="form-group mb-2">
                <input type="text" name="" placeholder="App Url" class="form-control">
            </div>
          <div class="form-group mb-2">
             <textarea class="form-control" placeholder="Add Description" id="exampleFormControlTextarea1" rows="5"></textarea>
          </div>
          <button (click)="pop.hide()" class="btn btn-primary bg-dark px-5 py-1 rounded-pill btn-sm ">Add</button>
       </div>
    </div>
 </div>
<!-- apps popover end -->