<!--
Project: life BCG
File: sidebar.component
Author: Sushant Indulkar - sushant.indulkar@wwindia.com
-----
Copyright (c) 2020
-----
HISTORY:
Date      	By       	Comments
----------	---------	---------------------------------------------------------
-->

<div class="px-3">
   <div class="logo-area d-block mt-4">
      <img src="assets/images/logo2.svg" alt="">
   </div>
   <div class="sidebar-search-box">
      <i class="icon-search-icon text-white rounded-circle"></i>
      <input type="" name="" placeholder="Search here" class="form-control rounded-pill">
   </div>
   <div class="dropdown-area text-center">
      <div class="dropdown">
         <button
            class="btn btn-primary bg-light font-weight-bold text-uppercase rounded-pill w-100 text-left dropdown-toggle"
            type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Create
         </button>
         <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item customCurserPointer" data-toggle="modal" (click)="openModal()">Category/Sections</a>
            <a class="dropdown-item customCurserPointer" href="#">Posts</a>
         </div>
      </div>
   </div>
</div>

<div id="sidebar-scroll" slimScroll>
   <!-- <ul class="nav flex-column flex-nowrap overflow-hidden w-100" id="myGroup">
      <li class="nav-item"><a class="nav-link text-truncate" href="#"><i class="icon-home-icon"></i> <span class="d-none d-sm-inline">Home</span></a></li>
      <li class="nav-item">
         <a class="nav-link collapsed text-truncate submenu" href="#catagories" data-toggle="collapse" data-target="#catagories"><i class="icon-categories-icon"></i> <span class="d-none d-sm-inline">Categories</span></a>
         <div class="collapse" id="catagories" aria-expanded="false">
            <ul class="flex-column nav first-level">
               <li class="nav-item second-level">
                  <a class="nav-link collapsed submenu" href="#extra-curricular" data-toggle="collapse" data-target="#extra-curricular"><i class="icon-circle"></i><span>Extra-Curricular Activities</span></a>
                  <div class="collapse" id="extra-curricular" aria-expanded="false">
                     <ul class="flex-column nav">
                        <li class="nav-item">
                           <a class="nav-link" href="#">
                           <i class="fa fa-fw fa-clock-o"></i> Daily </a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link" href="#">
                           <i class="fa fa-fw fa-dashboard"></i> Dashboard </a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link" href="#">
                           <i class="fa fa-fw fa-bar-chart"></i> Charts </a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link" href="#">
                           <i class="fa fa-fw fa-bar-chart"></i> Areas </a>
                        </li>
                     </ul>
                  </div>
               </li>
               <li class="nav-item second-level">
                  <a class="nav-link collapsed submenu" href="#submenu1sub1" data-toggle="collapse" data-target="#submenu1sub1"><i class="icon-circle"></i><span>Schedules</span></a>
                  <div class="collapse" id="submenu1sub1" aria-expanded="false">
                     <ul class="flex-column nav">
                        <li class="nav-item">
                           <a class="nav-link" href="#">
                           <i class="fa fa-fw fa-clock-o"></i> Daily </a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link" href="#">
                           <i class="fa fa-fw fa-dashboard"></i> Dashboard </a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link" href="#">
                           <i class="fa fa-fw fa-bar-chart"></i> Charts </a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link" href="#">
                           <i class="fa fa-fw fa-bar-chart"></i> Areas </a>
                        </li>
                     </ul>
                  </div>
               </li>
               <li class="nav-item second-level">
                  <a class="nav-link nav-link-light collapsed submenu" href="#hrlink" data-toggle="collapse" data-target="#hrlink"><i class="icon-circle"></i><span>HR</span></a>
                  <div class="collapse" id="hrlink" aria-expanded="false">
                     <ul class="flex-column nav">
                        <li class="nav-item">
                           <a class="nav-link nav-link-light collapsed submenu" href="#recruitment" data-toggle="collapse" data-target="#recruitment">
                           <i class="fa fa-fw fa-clock-o"></i> Recruitment </a>
                           <div class="collapse" id="recruitment" aria-expanded="false">
                              <ul class="flex-column nav third-level">
                                 <li class="nav-item">
                                    <a class="nav-link" href="#">
                                    Campus </a>
                                 </li>
                                 <li class="nav-item">
                                    <a class="nav-link" href="#">
                                    Lateral </a>
                                 </li>
                                 <li class="nav-item">
                                    <a class="nav-link" href="#">
                                    BST </a>
                                 </li>
                              </ul>
                           </div>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link nav-link-light collapsed submenu" href="#L-D" data-toggle="collapse" data-target="#L-D">
                           <i class="fa fa-fw fa-dashboard"></i> L&D </a>
                           <div class="collapse" id="L-D" aria-expanded="false">
                              <ul class="flex-column nav submenu-4">
                                 <li class="nav-item">
                                    <a class="nav-link" href="#">
                                    Campus </a>
                                 </li>
                                 <li class="nav-item">
                                    <a class="nav-link" href="#">
                                    Lateral </a>
                                 </li>
                                 <li class="nav-item">
                                    <a class="nav-link" href="#">
                                    BST </a>
                                 </li>
                              </ul>
                           </div>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link nav-link-light collapsed submenu" href="#satisfying-mobility" data-toggle="collapse" data-target="#satisfying-mobility">
                           <i class="fa fa-fw fa-bar-chart"></i> Staffing & Mobility </a>
                           <div class="collapse" id="satisfying-mobility" aria-expanded="false">
                              <ul class="flex-column nav submenu-4">
                                 <li class="nav-item">
                                    <a class="nav-link" href="#">
                                    Campus </a>
                                 </li>
                                 <li class="nav-item">
                                    <a class="nav-link" href="#">
                                    Lateral </a>
                                 </li>
                                 <li class="nav-item">
                                    <a class="nav-link" href="#">
                                    BST </a>
                                 </li>
                              </ul>
                           </div>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link nav-link-light collapsed submenu" href="#pto" data-toggle="collapse" data-target="#pto">
                           <i class="fa fa-fw fa-bar-chart"></i> PTO </a>
                           <div class="collapse" id="pto" aria-expanded="false">
                              <ul class="flex-column nav submenu-4">
                                 <li class="nav-item">
                                    <a class="nav-link" href="#">
                                    Campus </a>
                                 </li>
                                 <li class="nav-item">
                                    <a class="nav-link" href="#">
                                    Lateral </a>
                                 </li>
                                 <li class="nav-item">
                                    <a class="nav-link" href="#">
                                    BST </a>
                                 </li>
                              </ul>
                           </div>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link nav-link-light collapsed submenu" href="#engagement" data-toggle="collapse" data-target="#engagement">
                           <i class="fa fa-fw fa-dashboard"></i> Engagement </a>
                           <div class="collapse" id="engagement" aria-expanded="false">
                              <ul class="flex-column nav submenu-4">
                                 <li class="nav-item">
                                    <a class="nav-link" href="#">
                                    Campus </a>
                                 </li>
                                 <li class="nav-item">
                                    <a class="nav-link" href="#">
                                    Lateral </a>
                                 </li>
                                 <li class="nav-item">
                                    <a class="nav-link" href="#">
                                    BST </a>
                                 </li>
                              </ul>
                           </div>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link nav-link-light collapsed submenu" href="#new-hire" data-toggle="collapse" data-target="#new-hire">
                           <i class="fa fa-fw fa-bar-chart"></i> New Hire Integration </a>
                           <div class="collapse" id="new-hire" aria-expanded="false">
                              <ul class="flex-column nav submenu-4">
                                 <li class="nav-item">
                                    <a class="nav-link" href="#">
                                    Campus </a>
                                 </li>
                                 <li class="nav-item">
                                    <a class="nav-link" href="#">
                                    Lateral </a>
                                 </li>
                                 <li class="nav-item">
                                    <a class="nav-link" href="#">
                                    BST </a>
                                 </li>
                              </ul>
                           </div>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link nav-link-light collapsed submenu" href="#cdc" data-toggle="collapse" data-target="#cdc">
                           <i class="fa fa-fw fa-bar-chart"></i> CDC </a>
                           <div class="collapse" id="cdc" aria-expanded="false">
                              <ul class="flex-column nav submenu-4">
                                 <li class="nav-item">
                                    <a class="nav-link" href="#">
                                    Campus </a>
                                 </li>
                                 <li class="nav-item">
                                    <a class="nav-link" href="#">
                                    Lateral </a>
                                 </li>
                                 <li class="nav-item">
                                    <a class="nav-link" href="#">
                                    BST </a>
                                 </li>
                              </ul>
                           </div>
                        </li>
                     </ul>
                  </div>
               </li>
               <li class="nav-item second-level">
                  <a class="nav-link collapsed submenu" href="#finance" data-toggle="collapse" data-target="#finance"><i class="icon-circle"></i><span>Finance</span></a>
                  <div class="collapse" id="finance" aria-expanded="false">
                     <ul class="flex-column nav">
                        <li class="nav-item">
                           <a class="nav-link" href="#">
                           <i class="fa fa-fw fa-clock-o"></i> Daily </a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link" href="#">
                           <i class="fa fa-fw fa-dashboard"></i> Dashboard </a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link" href="#">
                           <i class="fa fa-fw fa-bar-chart"></i> Charts </a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link" href="#">
                           <i class="fa fa-fw fa-bar-chart"></i> Areas </a>
                        </li>
                     </ul>
                  </div>
               </li>
               <li class="nav-item second-level">
                  <a class="nav-link collapsed submenu" href="#submenu1sub1" data-toggle="collapse" data-target="#submenu1sub1"><i class="icon-circle"></i><span>Global Design Studio</span></a>
                  <div class="collapse" id="submenu1sub1" aria-expanded="false">
                     <ul class="flex-column nav">
                        <li class="nav-item">
                           <a class="nav-link" href="#">
                           <i class="fa fa-fw fa-clock-o"></i> Daily </a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link" href="#">
                           <i class="fa fa-fw fa-dashboard"></i> Dashboard </a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link" href="#">
                           <i class="fa fa-fw fa-bar-chart"></i> Charts </a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link" href="#">
                           <i class="fa fa-fw fa-bar-chart"></i> Areas </a>
                        </li>
                     </ul>
                  </div>
               </li>
            </ul>
         </div>
      </li>
      <li class="nav-item">
         <a class="nav-link collapsed text-truncate submenu" href="#submenu3" data-toggle="collapse" data-target="#submenu3"><i class="icon-calendar-icon"></i> <span class="d-none d-sm-inline">Calendar</span></a>
         <div class="collapse" id="submenu3" aria-expanded="false">
            <ul class="flex-column nav first-level">
               <li class="nav-item"><a class="nav-link" href="#"> <i class="icon-circle"></i><span>Orders</span></a></li>
               <li class="nav-item second-level">
                  <a class="nav-link collapsed submenu" href="#submenu3sub3" data-toggle="collapse" data-target="#submenu3sub3"><i class="icon-circle"></i> <span>Customers</span></a>
                  <div class="collapse" id="submenu3sub3" aria-expanded="false">
                     <ul class="flex-column nav third-level">
                        <li class="nav-item">
                           <a class="nav-link" href="#">
                           <i class="fa fa-fw fa-clock-o"></i> Daily </a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link" href="#">
                           <i class="fa fa-fw fa-dashboard"></i> Dashboard </a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link" href="#">
                           <i class="fa fa-fw fa-bar-chart"></i> Charts </a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link" href="#">
                           <i class="fa fa-fw fa-compass"></i> Areas </a>
                        </li>
                     </ul>
                  </div>
               </li>
            </ul>
         </div>
      </li>
      <li class="nav-item">
         <a class="nav-link collapsed text-truncate submenu" href="#submenu4" data-toggle="collapse" data-target="#submenu4"><i class=" icon-app-mngmnt-icon
            "></i> <span class="d-none d-sm-inline">App Management</span></a>
         <div class="collapse" id="submenu4" aria-expanded="false">
            <ul class="flex-column nav first-level">
               <li class="nav-item"><a class="nav-link" href="#"><i class="icon-circle"></i> <span>Orders</span></a></li>
               <li class="nav-item second-level">
                  <a class="nav-link collapsed submenu" href="#submenu4sub4" data-toggle="collapse" data-target="#submenu4sub4"><i class="icon-circle"></i> <span>Customers</span></a>
                  <div class="collapse" id="submenu4sub4" aria-expanded="false">
                     <ul class="flex-column nav">
                        <li class="nav-item">
                           <a class="nav-link" href="#">
                           <i class="fa fa-fw fa-clock-o"></i> Daily </a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link" href="#">
                           <i class="fa fa-fw fa-dashboard"></i> Dashboard </a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link" href="#">
                           <i class="fa fa-fw fa-bar-chart"></i> Charts </a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link" href="#">
                           <i class="fa fa-fw fa-compass"></i> Areas </a>
                        </li>
                     </ul>
                  </div>
               </li>
            </ul>
         </div>
      </li>
      <li class="nav-item">
         <a class="nav-link collapsed text-truncate submenu" href="#submenu5" data-toggle="collapse" data-target="#submenu5"><i class="icon-polls-icon
            "></i> <span class="d-none d-sm-inline">Polls</span></a>
         <div class="collapse" id="submenu5" aria-expanded="false">
            <ul class="flex-column nav first-level">
               <li class="nav-item"><a class="nav-link" href="#"><i class="icon-circle"></i> <span>Orders</span></a></li>
               <li class="nav-item second-level">
                  <a class="nav-link collapsed submenu" href="#submenu5sub5" data-toggle="collapse" data-target="#submenu5sub5"><i class="icon-circle"></i> <span>Customers</span></a>
                  <div class="collapse" id="submenu5sub5" aria-expanded="false">
                     <ul class="flex-column nav">
                        <li class="nav-item">
                           <a class="nav-link" href="#">
                           <i class="fa fa-fw fa-clock-o"></i> Daily </a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link" href="#">
                           <i class="fa fa-fw fa-dashboard"></i> Dashboard </a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link" href="#">
                           <i class="fa fa-fw fa-bar-chart"></i> Charts </a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link" href="#">
                           <i class="fa fa-fw fa-compass"></i> Areas </a>
                        </li>
                     </ul>
                  </div>
               </li>
            </ul>
         </div>
      </li>
      <li class="nav-item">
         <a class="nav-link collapsed text-truncate submenu" href="#submenu6" data-toggle="collapse" data-target="#submenu6"><i class="icon-rewards-icon-2"></i> <span class="d-none d-sm-inline">Rewards</span></a>
         <div class="collapse" id="submenu6" aria-expanded="false">
            <ul class="flex-column nav first-level">
               <li class="nav-item"><a class="nav-link" href="#"><i class="icon-circle"></i> <span>Orders</span></a></li>
               <li class="nav-item second-level">
                  <a class="nav-link collapsed submenu" href="#submenu6sub6" data-toggle="collapse" data-target="#submenu6sub6"><i class="icon-circle"></i> <span>Customers</span></a>
                  <div class="collapse" id="submenu6sub6" aria-expanded="false">
                     <ul class="flex-column nav">
                        <li class="nav-item">
                           <a class="nav-link" href="#">
                           <i class="fa fa-fw fa-clock-o"></i> Daily </a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link" href="#">
                           <i class="fa fa-fw fa-dashboard"></i> Dashboard </a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link" href="#">
                           <i class="fa fa-fw fa-bar-chart"></i> Charts </a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link" href="#">
                           <i class="fa fa-fw fa-compass"></i> Areas </a>
                        </li>
                     </ul>
                  </div>
               </li>
            </ul>
         </div>
      </li>
      <li class="nav-item">
         <a class="nav-link collapsed text-truncate submenu" href="#submenu7" data-toggle="collapse" data-target="#submenu7"><i class="icon-user-faqs-icon"></i> <span class="d-none d-sm-inline">User FAQs</span></a>
         <div class="collapse" id="submenu7" aria-expanded="false">
            <ul class="flex-column nav first-level">
               <li class="nav-item"><a class="nav-link" href="#"><i class="icon-circle"></i> <span>Orders</span></a></li>
               <li class="nav-item second-level">
                  <a class="nav-link collapsed submenu" href="#submenu7sub7" data-toggle="collapse" data-target="#submenu7sub7"><i class="icon-circle"></i> <span>Customers</span></a>
                  <div class="collapse" id="submenu7sub7" aria-expanded="false">
                     <ul class="flex-column nav">
                        <li class="nav-item">
                           <a class="nav-link" href="#">
                           <i class="fa fa-fw fa-clock-o"></i> Daily </a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link" href="#">
                           <i class="fa fa-fw fa-dashboard"></i> Dashboard </a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link" href="#">
                           <i class="fa fa-fw fa-bar-chart"></i> Charts </a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link" href="#">
                           <i class="fa fa-fw fa-compass"></i> Areas </a>
                        </li>
                     </ul>
                  </div>
               </li>
            </ul>
         </div>
      </li>
      <li class="nav-item">
         <a class="nav-link collapsed text-truncate submenu" href="#submenu8" data-toggle="collapse" data-target="#submenu8"><i class="icon-analytics-icon"></i> <span class="d-none d-sm-inline">Analytics</span></a>
         <div class="collapse" id="submenu8" aria-expanded="false">
            <ul class="flex-column nav first-level">
               <li class="nav-item"><a class="nav-link" href="#"><i class="icon-circle"></i> <span>Orders</span></a></li>
               <li class="nav-item second-level">
                  <a class="nav-link collapsed submenu" href="#submenu8sub8" data-toggle="collapse" data-target="#submenu8sub8"><i class="icon-circle"></i> <span>Customers</span></a>
                  <div class="collapse" id="submenu8sub8" aria-expanded="false">
                     <ul class="flex-column nav">
                        <li class="nav-item">
                           <a class="nav-link" href="#">
                           <i class="fa fa-fw fa-clock-o"></i> Daily </a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link" href="#">
                           <i class="fa fa-fw fa-dashboard"></i> Dashboard </a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link" href="#">
                           <i class="fa fa-fw fa-bar-chart"></i> Charts </a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link" href="#">
                           <i class="fa fa-fw fa-compass"></i> Areas </a>
                        </li>
                     </ul>
                  </div>
               </li>
            </ul>
         </div>
      </li>
   </ul> -->

   <ng-template #recursiveList let-sidemenuData_>
      <ul class="nav flex-column flex-nowrap overflow-hidden w-100" id="myGroup" *ngFor="let level_1 of sidemenuData_">
         <!--level 1 start-->

         <li [ngClass]="level_1.type == 'category' ? 'nav-item second-level' :'nav-item' ">
            <a [ngClass]="(level_1.type == 'subsection') ? 'nav-link text-truncate' : (level_1.type == 'category' || level_1.type == 'section') ? 'nav-link nav-link-light collapsed text-truncate submenu' : (level_1.type == 'menu' &&  level_1.data.length > 0) ? 'nav-link collapsed text-truncate submenu' : 'nav-link text-truncate' "
               href="#{{level_1.name}}" data-toggle="collapse" data-target="#{{level_1.name}}"><i
                  class="{{level_1.icon}}"></i> <span class="d-none d-sm-inline">{{level_1.name}}</span></a>
            <div
               [ngClass]="(level_1.type == 'subsection' || (level_1.type == 'menu' &&  level_1.data.length == 0) ? '' : 'collapse' )"
               id="{{level_1.name}}" aria-expanded="false">
               <!--level 2 start-->

               <ul [ngClass]="(level_1.type == 'subsection' || (level_1.type == 'menu' &&  level_1.data.length == 0) ? '' : (level_1.type == 'category' ? 'flex-column nav' : (level_1.type == 'section' ? 'flex-column nav third-level' : (level_1.type == 'menu' &&  level_1.data.length > 0) ? 'flex-column nav first-level' : '' ) ) )"
                  *ngIf="level_1.data.length > 0">
                  <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: level_1.data }"></ng-container>

               </ul>

               <!--level 2 end-->
            </div>
         </li>


         <!--level 1 end-->
      </ul>
   </ng-template>

   <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: sidemenuData_ }"></ng-container>
   
   <div class="p-3">
      <div class="user-options p-3">
         <div class="media">
            <img src="assets/images/user.png" class="mr-3" alt="...">
            <div class="media-body">
               <h5 class="mt-0">Kenneth Erickson</h5>
               San Diego, CA
            </div>
         </div>
         <ul>
            <li><a href="#"><i class="icon-setting-icon"></i> Setting</a></li>
            <li><a href="#"><i class="icon-activity-icon"></i> Activity</a></li>
            <li><a href="#"><i class="icon-help-icon
               "></i> Help</a></li>
         </ul>
      </div>
   </div>
</div>

<p class="copyright p-3 mt-2">@ Designed by <a href="#">BCG Design Studios</a></p> 