<!--
Project: life BCG
File: radio.component
Author: Sushant Indulkar - sushant.indulkar@wwindia.com
-----
Copyright (c) 2020
-----
HISTORY:
Date      	By       	Comments
----------	---------	---------------------------------------------------------
-->

<div *ngIf="type == 'poll'"  [ngClass]="last || !percentage ? 'custom-control custom-radio' : 'custom-control custom-radio border-bottom pb-3 mb-3'">
    <input 
    type="radio" 
    [id]="id" 
    [name]="name" 
    class="custom-control-input" 
    [checked]="checked" 
    (change)="(onChange)" 
    [disabled]="disabled" 
    [value]="value"> 
    <label class="custom-control-label w-100" [for]="id">{{label}} <span *ngIf="percentage" class="float-right">{{percentage}}%</span></label>
 </div>
 

 <label *ngIf="type == 'normal'" class="custom-control custom-radio d-inline-block mr-2">
    <input 
    type="radio" 
    [id]="id" 
    [value]="value" 
    [formControl]="control"
    [name]="name"
    class="custom-control-input">
    <label class="custom-control-label w-100" [for]="id">{{label}}</label>
</label>