<div class="login-reg-panel">

    <div class="logo-area-login text-center">
       <img src="images/logo.png" alt="" class="img-fluid">
    </div>
    <div class="white-panel">
       <div class="login-show">
          <h2 class="font-weight-bold">LOGIN</h2>
          <input type="text" placeholder="Email" class="form-control">
          <!-- <input type="password" placeholder="Password" class="form-control"> -->
          <button class="btn btn-primary bg-dark rounded-pill py-1 px-5">Submit</button>
          <!-- <a href="" class="float-right">Forgot password?</a> -->
       </div>
    </div>
 </div>