<!--
Project: life BCG
File: add-agenda.component
Author: Sushant Indulkar - sushant.indulkar@wwindia.com
-----
Copyright (c) 2020
-----
HISTORY:
Date      	By       	Comments
----------	---------	---------------------------------------------------------
-->

<!-- Add agenda staart -->
<div id="add-agenda" class="add-gallery-area logistics-area agenda-area mb-4 d-block">
    <app-button
    classes = "btn btn-secondary rounded-circle btn-add inner-close-btn"
    (onClick) = "closeContentVew()" 
    >×</app-button>
    <div class="row mb-2">
        <div class="col-md-12">
            <div class="h6">
                Add Agenda
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <!-- <textarea class="form-control" rows="4" placeholder="Description"></textarea> -->
                <app-ckeditors
                (onChange)="onEditorChange($event)"
                ></app-ckeditors>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 add-gallery-right">
            <div class="form-group custom-file-area">
                <div class="custom-file">

                    <div class="custom-inner-area">
                        <div class="row">
                            <div class="col-md-6">
                                <p class="d-flex justify-content-between mx-auto">
                                    <i class="icon-cloud-computing-icon d-inline-block mr-2"></i>
                                    <span class="d-inline-block">Drag & Drop your file (PDF) from anywhere or</span>
                                    <span class="font-weight-bold">Or</span>
                                </p>
                            </div>

                            <div class="col-md-6">
                                <label class="custom-file-label box-shadow" for="customFile">Select file...</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <input type="file" name="files[]" class="custom-file-input" id="customFile" required>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Add agenda end -->