<!--
Project: life BCG
File: top-polls.component
Author: Sushant Indulkar - sushant.indulkar@wwindia.com
-----
Copyright (c) 2020
-----
HISTORY:
Date      	By       	Comments
----------	---------	---------------------------------------------------------
-->

<div class="quetion-area" *ngFor="let pollData of data; let lastIndex = last; let quesIndex = index">
    <div class="mb-3">
        <p class="mb-3">{{pollData.question}}</p>
        <!-- id="{{'ques_poll_'+quesIndex+'_'+i}}" -->
        <app-radio 
        *ngFor="let opt of pollData.options; let last=last; let i = index" 
        [last] = "last"
        [data]="opt" 
        type = "poll"
        id="{{'ques_poll_'+quesIndex+'_'+i}}"
        name = "{{'ques_poll_'+quesIndex}}"
        [value] = "opt.value"
        [label] = "opt.optTitle"
        [percentage] = "opt.optPercentage"
        (change)="checkRadioValue($event)"
        [disabled] = "false" 
        ></app-radio>
    </div>
    <div *ngIf="!lastIndex" class="border-bottom my-3"></div>
</div>

<!-- <app-radio 
        id="{{'customName2'}}"
        name = "{{'customName'}}"
        label = "Custom"
        [checked] = "false"
        value = "cust1"
        (change)="checkRadioValue($event)"
        ></app-radio>

        <app-radio 
        id="{{'customName1'}}"
        name = "{{'customName'}}"
        label = "Custom1"
        value = "cust2"
        (change)="checkRadioValue($event)"
        
        ></app-radio> -->




