<!--
Project: life BCG
File: post-card.component
Author: Sushant Indulkar - sushant.indulkar@wwindia.com
-----
Copyright (c) 2020
-----
HISTORY:
Date      	By       	Comments
----------	---------	---------------------------------------------------------
-->

<h3 *ngIf="data.eventTitle != ''" class="mb-2">{{data.eventTitle}}</h3>
<p *ngIf="data.eventDescription != ''">{{data.eventDescription}}</p>
<ul class="details-block mt-3 m-0 p-0">
    <li *ngIf="data.date != ''" class="mb-2 mr-3"><img src="assets/images/icons/calendar.jpg" alt="" class="mr-1">{{data.date}}</li>
    <li *ngIf="data.time != ''" class="mb-2"><img src="assets/images/icons/time.jpg" alt="" class="mr-1">{{data.time}}</li>
</ul>