<!--
Project: life BCG
File: add-logistics.component
Author: Sushant Indulkar - sushant.indulkar@wwindia.com
-----
Copyright (c) 2020
-----
HISTORY:
Date      	By       	Comments
----------	---------	---------------------------------------------------------
-->

<!-- Add logistics staart -->
<div id="add-logistics" class="add-gallery-area logistics-area mb-4 d-block">
    <app-button
    classes = "btn btn-secondary rounded-circle btn-add inner-close-btn"
    (onClick) = "closeContentVew()" 
    >×</app-button>
    <div class="h6 mb-3">Add Logistics</div>
    <div class="row">
        <div class="col-md-12 add-gallery-right">
            <div class="form-group custom-file-area">
                <div class="custom-file">

                    <div class="custom-inner-area">
                        <div class="row w-50">
                            <div class="col-md-6">
                                <p class="w-50 d-flex justify-content-between mx-auto">
                                    <i class="icon-cloud-computing-icon d-inline-block mr-2"></i>
                                    <span class="d-inline-block">Drag & Drop your file (CSV or Excel) from
                                        anywhere</span>
                                    <span class="font-weight-bold">Or</span>
                                </p>
                            </div>

                            <div class="col-md-6">
                                <label class="custom-file-label box-shadow" for="validatedCustomFile">Select
                                    file...</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <input type="file" class="custom-file-input" id="validatedCustomFile" required>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Add logistics end -->