  <ng-container *ngFor="let item of questionData">
  <div class="form-group">
      <label for="exampleInputEmail1">Question</label>
        {{item.question}}
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Answers</label>
      <div  *ngFor="let answer of item.answer">
          {{answer}}
        <br>
      </div>
    </div>
    <button (click)="deletePoll(item.unique_id)" >Delete</button>
</ng-container>