<!--
Project: life BCG
File: add-polls.component
Author: Sushant Indulkar - sushant.indulkar@wwindia.com
-----
Copyright (c) 2020
-----
HISTORY:
Date      	By       	Comments
----------	---------	---------------------------------------------------------
-->

<!-- Add gallery staart -->
<div style="background-color: #F5F5F5;">
<app-polls-preview *ngIf="addAgendaFlag"
(closeContent) = "addAgendaFlag = false"
[questionData]="previewData">
</app-polls-preview>
</div>

<div id="add-polls" class="add-gallery-area mb-4 d-block">
    <app-button
    classes = "btn btn-secondary rounded-circle btn-add inner-close-btn"
    (onClick) = "closeContentVew()" 
    >×</app-button>
    <div class="row  mb-2 mt-3">
        <div class="col-md-6">
            <div class="h6">
                Add Polls
            </div>
        </div>
        <div class="col-md-6 text-right">
            <label class="mr-2 font-weight-normal">Add Answers</label>
            <app-button
            classes = "btn btn-primary rounded-circle bg-light btn-add"
            [disabled] = "addAnswerFlag"
            (onClick)= "addAnswer()"
            ><i class="icon-plus-icon"></i>
            </app-button>
            <!-- <button class="btn btn-primary rounded-circle bg-light btn-add">
                <i class="icon-plus-icon"></i>
            </button> -->
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form [formGroup]="questionForm">
             <!-- <div class="form-group">
                 <app-input-field [data]="question"></app-input-field> 
                <input type="" name="" class="form-control" placeholder="{{question.name}}" formControlName="{{question.formControl}}">
            </div>  -->
            <div *ngFor="let item of pollQuestionData;let i =index" class="form-group">
                <!-- <app-input-field  [data]="item"></app-input-field> -->
                <input type="" name="" class="form-control" placeholder="{{item.name}}" formControlName="{{item.formControll}}">
                <div *ngIf="item.validation" >
                    <small class="invalid-feedback d-block">Please fill the field</small>
                </div>
                <!-- {{item.validation}} -->
            </div>
            <app-button
            (onClick)="saveData()"
            classes="btn btn-primary bg-transparent rounded btn-add box-shadow d-inline-block w-95">
            Save
            </app-button>

        </form>
        </div>
    </div>
</div>
<!-- Add gallery end -->