<div class="right-sidebar text-center py-3 p-2 m-auto">
    <ul>
        <app-notification-sub-menu *ngFor="let item of notificationSubMenus" [data]="item">
        </app-notification-sub-menu>
    </ul>
    <div class="history-area text-center">
        <a href="#" class="pt-4">
        <i class="icon-reload-icon d-block mb-1"></i>
        <span class="d-block">History</span>
        </a>
     </div>
</div>