.sidebar {
	background-color: $sidebarBg;
	transition: all 0.3s ease;
	height: 100vh;

	.nav-link {
		color: $greyType;
		font-size: 12px;
		padding: 14px 15px;
		position: relative;
		margin-bottom: 1px;

		&:after {
			content:'';
			position: absolute;
			width: 3px;
			background-color: transparent;
			left:0;
			bottom: 0;
			top: 0;
		}

		&:hover {
			color:$iconsHover;
			background-image: linear-gradient(to right, #065341, #001D0C);

			i {
				color: $iconsHover;
			}
			&:before {
				border-color:$iconsHover;
			}
			&:after {
				background-color: $lefeBorder;
			}
		}
	}
	
	.submenu {
		&:before {
			content:"";
			border: solid $white;
			border-width: 0 1px 1px 0;
			display: inline-block;
			padding: 3px;
			position: absolute;
			right: 15px;
	    	bottom: 23px;
		}
	}
	.first-level {
		.nav-link {
			padding: 14px 15px 14px 35px;
		}
	}
	.second-level {
		.submenu[data-toggle]:not(.collapsed) {
			color: $iconsHover;
			background-image: linear-gradient(to right, #11765E, #001D0C);
			i {
				color: $iconsHover;
			}
			&:before {
				border-color:$iconsHover;
			}
			&:after {
				background-color: $lefeBorder;
			}
		}
		.show {
			.nav-link {
				color: $white;
				background-image: linear-gradient(to right, #11765E, #001D0C);
				i {
					color: $iconsHover;
				}
			}
		}
	}
	.third-level {
		.nav-link {
			padding-left: 55px;
		}
	}
	.submenu[data-toggle].collapsed:before {
		content: "";
		transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
	}
	.submenu[data-toggle]:not(.collapsed) {
		color: $iconsHover;
		background-image: linear-gradient(to right, #065341, #001D0C);
		i {
			color: $iconsHover;
		}
		&:before {
			border-color:$iconsHover;
		}
		&:after {
			background-color: $lefeBorder;
		}
		/*.nav-link-light {
			background-image: linear-gradient(to right, #11765E, #001D0C) !important;
		}*/
	}
	.submenu[data-toggle]:not(.collapsed):before {
	    content: "";
	    transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
        bottom: 18px;
	}
	.logo-area {

		padding-left: 15px;
		img {
			width: 70%;
		}
		
		i {
			width: auto;
			font-size: 15px;
		}
	}
	i {
	    width: 30px;
	    font-size: 20px;
	    margin-right: 5px;
	}
	.icon-circle {
		position: relative;
		&:before {
			content:'';
			position: absolute;
			bottom: 7px;
    		left: -14px;
			width: 5px;
			height: 5px;
			background-color: $iconsHover;
			border-radius: 50%;
		}
	}
	.show {
		.nav-link {
			color: $white;
			background-image: linear-gradient(to right, #065341, #001D0C);
			i {
				color: $iconsHover;
			}
		}
		/*.nav-link-light {
			background-image: linear-gradient(to right, #11765E, #001D0C);
		}*/
	}
}

.sidebar-search-box {
	position: relative;
	.form-control {
		color: $bcgBlueGreen;
		margin: 40px 0 10px;
		padding: 8px 15px 8px 58px;
		height: 42px;
		background-color: rgba(63,173,147,0.2);
		border:none;
		font-size: 15px;
	}
	.icon-search-icon {
		width: 42px;
		height: 42px;
		background-color: $bcgBlueGreen;
		line-height: 42px;
    	text-align: center;
    	position: absolute;
	    left: 0;
	    top: 0;
	}
}
.user-options {
	background-color: rgba(63,173,147,0.1);
	border-radius: 12px;
	padding-bottom: 5px !important;

	ul {
		margin: 0;
		padding: 0;
		li {
			a {
				color: $greyType;
				font-size: 13px;
				padding: 10px 7px;
				display: block;
				text-decoration: none;
			}
		}
	}
}
.copyright {
	font-family: 'Henderson-light';
	color: $white;
	font-size: 10px;
}
