<!--
Project: life BCG
File: poc-popover.component
Author: Sushant Indulkar - sushant.indulkar@wwindia.com
-----
Copyright (c) 2020
-----
HISTORY:
Date      	By       	Comments
----------	---------	---------------------------------------------------------
-->

<h3 *ngIf="showMoreDetails" class="popover-header">
    <h6 class="text-uppercase"><a (click)="showMoreDetails = false" class="more"></a> More Details <a
            (click)="closeMoreDetails()" class="close float-right" data-dismiss="alert">×</a></h6>
</h3>

<div class="popover-body">

    <form [formGroup]="pocForm" (ngSubmit)="onSubmit()">
        <!-- Employee selection -->
        <div *ngIf="!showMoreDetails">
            <a (click)="popoverClose()" class="float-right pocPopoverClose close" data-dismiss="alert">&times;</a>
            <tabset type="pills" class="customNgxTabsPopover">

                <tab heading="BCG EMPLOYEE">
                    <div class="tab-pane fade show active" id="bcg-tab" role="tabpanel" aria-labelledby="bcg-tab">
                        <div class="inner-search-area bg-transparent pb-0">
                            <div class="form-group mb-2">
                                <span class="search-box d-block">
                                    <input type="text" formControlName="BcgEmpName" class="form-control rounded-pill"
                                        placeholder="Search"><i class="icon-search-icon"></i>
                                </span>
                            </div>

                            <div class="pop-custom-category-scrollbar" [options]="slimScrollOpts" slimScroll>
                                <ul class="search-list">
                                    <ng-container *ngFor="let emp of (userData | filterBy: f.BcgEmpName.value); let i = index">
                                        <li *ngIf="emp.user_type == 1" (click)="setClickedItem(i,emp)" [class.active]="i == selectedItem">
                                        {{emp.name}}</li>
                                    </ng-container>
                                </ul>
                            </div>
                            <small *ngIf="found || errorMesg!= ''" class="invalid-feedback d-block">
                                {{errorMesg}}
                            </small>
                            <div class="pt-3 px-2 text-center">

                                <app-button 
                                classes = "btn btn-primary bg-dark px-5 py-1 rounded-pill btn-sm "
                                (onClick) = "openMoreDetails()"
                                >Next</app-button>

                            </div>
                        </div>
                    </div>
                </tab>

                <tab heading="NON BCG EMPLOYEE">
                    <div class="tab-pane fade show active" id="bcg-tab" role="tabpanel" aria-labelledby="bcg-tab">
                        <div class="inner-search-area bg-transparent pb-0">
                            <div class="form-group mb-2">
                                <span class="search-box d-block">
                                    <input type="text" formControlName="NonBcgEmpName" class="form-control rounded-pill"
                                        placeholder="Search"><i class="icon-search-icon"></i>
                                </span>
                            </div>

                            <div class="pop-custom-category-scrollbar" [options]="slimScrollOpts" slimScroll>
                                <ul class="search-list">
                                    <ng-container *ngFor="let emp of (userData | filterBy: f.NonBcgEmpName.value); let i = index">
                                        <li *ngIf="emp.user_type == 2" (click)="setClickedItem(i,emp)" [class.active]="i == selectedItem">
                                        {{emp.name}}</li>
                                    </ng-container> 
                                </ul>
                            </div>
                            <small *ngIf="found || errorMesg!= ''" class="invalid-feedback d-block">
                                {{errorMesg}}
                            </small>
                            <div class="pt-3 px-2 text-center">

                                <app-button 
                                classes = "btn btn-primary bg-dark px-5 py-1 rounded-pill btn-sm "
                                (onClick) = "openMoreDetails()"
                                >Next</app-button>

                                <!-- <button (click)="openMoreDetails()"
                                    class="btn btn-primary bg-dark px-5 py-1 rounded-pill btn-sm ">Next</button> -->
                            </div>
                        </div>
                    </div>
                </tab>


            </tabset>
        </div>
        <!-- Employee selection -->

        <!-- More Details -->
        <div *ngIf="showMoreDetails" class="more-details-area">
            <div class="selection-area">
                <p class="mb-2">{{selectedEmpDetails.name}}</p>

                <label class="custom-control custom-radio d-inline-block mr-2">
                    <input type="radio" id="regular" value='Regular' formControlName="pocType" name="pocType"
                        class="custom-control-input">
                    <span class="custom-control-label w-100" for="regular">Regular</span>
                </label>

                <label class="custom-control custom-radio d-inline-block">
                    <input type="radio" id="escalation" value='Escalation' formControlName="pocType" name="pocType"
                        class="custom-control-input">
                    <span class="custom-control-label w-100" for="escalation">Escalation</span>
                </label>

                <!-- <app-radio 
                class="custom-control custom-radio d-inline-block"
                name = "pocType" 
                type = "normal"
                id = "regular"
                label = "Regular"
                value = "regular"
                [control] = "pocType"
                ></app-radio>

                <app-radio 
                class="custom-control custom-radio d-inline-block"
                name = "pocType"
                type = "normal"
                id = "escalation"
                label = "Escalation"
                value = "escalation"
                [control] = "pocType"
                ></app-radio> -->

                <small class="invalid-feedback d-block" *ngIf="submitted && f.pocType.errors">
                    Please select either value
                </small>
            </div>
            <div class="inner-search-area">
                <div class="form-group mb-2">
                    <label class="text-uppercase mb-1">Offices</label>
                    <span class="search-box d-block">
                        <input type="text" formControlName="cityName" class="form-control rounded-pill"
                            placeholder="Search"><i class="icon-search-icon"></i>
                    </span>
                </div>
                <div class="pop-custom-category-scrollbar" [options]="slimScrollOpts" slimScroll>
                    <ul>
                        <li class="mt-2">
                            <label class="custom-control custom-checkbox mb-2">
                                <input type="checkbox" formControlName="selectAll" class="custom-control-input" name="allCity"
                                    id="allCity">
                                <label class="custom-control-label w-100" for="allCity">All</label>
                            </label>
                        </li>

                        <ng-container *ngIf="officesData.length>0" formArrayName="officesData">
                            <li *ngFor="let item of (officesData | filterBy: f.cityName.value);  let i = index">
                                <label class="custom-control custom-checkbox mb-2">
                                    <input type="checkbox" [formControlName]="i" class="custom-control-input" [name]="i" [id]="i">
                                    <label class="custom-control-label w-100" [for]="i">{{item.name}}</label>
                                </label>
                            </li>
                        </ng-container>
                    </ul>
                    <small class="invalid-feedback d-block" *ngIf="f.citySelectedFlag.errors">
                        Please select Office
                    </small>
                </div>
            </div>
            <div class="pt-3 px-2 text-center">
                <div class="form-group mb-2">
                    <textarea class="form-control" formControlName="pocDescription" placeholder="Add Description" id="exampleFormControlTextarea1"
                        rows="5"></textarea>
                </div>

                <app-button
                classes = "btn btn-primary bg-dark px-5 py-1 rounded-pill btn-sm "
                [disabled]="pocForm.invalid"
                submit = true
                >Add</app-button>
                
            </div>
        </div>
        <!-- More Details -->
    </form>
</div>