<!--
Project: life BCG
File: category-view.component
Author: Sushant Indulkar - sushant.indulkar@wwindia.com
-----
Copyright (c) 2020
-----
HISTORY:
Date      	By       	Comments
----------	---------	---------------------------------------------------------
-->

<div class="tab-pane fade show active" role="tabpanel" aria-labelledby="category-tab">
    <div class="inner-content" slimScroll>
        <div class="row">
                <form [formGroup]="categoryForm" class="col-12">
                    <div class="form-left w-75 float-left">
                        <div class="row mb-3">
                            <div class="col-md-12">

                                <app-button classes="btn btn-primary rounded bg-light btn-add w-148"
                                    *ngIf="module == 'category'" [submit]="false" [disabled]="true"
                                    (onClick)="addCategoryBtn()">
                                    Add Category<i class="icon-plus-icon ml-4"></i>
                                </app-button>

                                <span *ngIf="module == 'category'"
                                    class="or-sep font-weight-bold d-inline-block mx-3">Or</span>

                                <app-select label="Select Category" dropdownWidthClass="w-110"
                                    (onChange)="getSelectedCategory($event)" [optionData]="categoryData">
                                </app-select>
                                <small *ngIf="submitted && f.name.errors" class="invalid-feedback d-block">Please Select Category</small>

                                <span *ngIf="module == 'subSection'" class="mr-2"></span>
                                <app-select label="Select Section" *ngIf="module == 'subSection'" dropdownWidthClass="w-110"
                                    (onChange)="getSelectedCategory($event)" [optionData]="categoryData">
                                </app-select>

                            </div>
                        </div>

                        <!-- Category Name -->
                        <div *ngIf="module == 'category'" class="row mb-3">
                            <div class="col-md-7">
                                <div class="form-group mb-0">
                                    <input type="" name="" disabled class="form-control" placeholder="* Category Name">
                                </div>
                            </div>
                        </div>
                        <!-- Category Name -->

                        <!-- Section Name -->
                        <div *ngIf="module == 'section'" class="row mb-3">
                            <div class="col-md-7">
                                <div class="form-group mb-0">
                                    <input type="" name="" class="form-control" placeholder="* Section Name">
                                </div>
                            </div>
                        </div>
                        <!-- Section Name -->

                        <!-- Sub-Section Name -->
                        <div *ngIf="module == 'subSection'" class="row mb-3">
                            <div class="col-md-7">
                                <div class="form-group mb-0">
                                    <input type="" name="" class="form-control" placeholder="* Sub-Section Name">
                                </div>
                            </div>
                        </div>
                        <!-- Sub-Section Name -->


                        <!-- Calendar Time Place -->
                        <!-- <div class="row mb-3">
                            <div class="col-md-8">
                            <div class="form-group d-inline-block w-95 mr-2 mb-0">
                                <span class="icon-wrapper">
                                    <i class="icon-calendar-icon color-grey"></i>
                                    <input type="text" name="" class="form-control" placeholder="Calendar"  bsDatepicker [bsConfig]="bsConfig" >
                                </span>
                            </div>
                            <div class="form-group d-inline-block w-95 mr-2 mb-0">
                                <span class="icon-wrapper">
                                    <i class="icon-clock-icon"></i>
                                    <input type="" name="" class="form-control" placeholder="Select Time">
                                </span>
                            </div>
                            <div class="form-group d-inline-block w-95 mb-0">
                                <span class="icon-wrapper">
                                    <i class="icon-location-icon"></i>
                                    <input type="" name="" class="form-control" placeholder="Add Place">
                                </span>
                            </div>
                            </div>
                        </div> -->

                        <div class="row mb-3">
                            <div class="col-md-8 time-date-area">

                                <app-button #popCalendar="bs-popover" placement="right" container="body"
                                    containerClass="calendar-options-popover" [popover]="calendarView"
                                    classes="btn btn-primary bg-transparent rounded btn-add box-shadow d-inline-block w-95">
                                    <i class="icon-calendar-icon"></i>{{eventDate}}
                                </app-button>

                                <ng-template #calendarView>
                                    <app-calendar-popover [pop]="popCalendar" module="calendar" title="SELECT DATE" (onAdd)="getDate($event)">
                                    </app-calendar-popover>
                                </ng-template>


                            
                                <app-button #popTime="bs-popover" placement="bottom" container="body"
                                    containerClass="calendar-time-options-popover" [popover]="timeView"
                                    classes="btn btn-primary bg-transparent rounded btn-add box-shadow d-inline-block w-95">
                                    <i class="icon-clock-icon"></i>{{eventTime}}
                                </app-button>

                                <ng-template #timeView>
                                    <app-calendar-popover [pop]="popTime" module="time" title="SELECT TIME" (onAdd)="getTime($event)">
                                    </app-calendar-popover>
                                </ng-template>



                                <button
                                    class="btn btn-primary bg-transparent rounded btn-add box-shadow d-inline-block w-95">
                                    <i class="icon-location-icon"></i>
                                    Add Place
                                </button>
                            </div>
                        </div>

                        <!-- Calendar Time Place -->

                        <!-- Main Image -->
                        <app-main-image-icon *ngIf="showMainImage" [file]="appMainImage" module="mainImage"
                            title="Main Image" (onDelete)="deleteIconMainImage('main')"></app-main-image-icon>

                        <!-- Add icon -->
                        <app-main-image-icon *ngIf="showAddIcon" [file]="appIcon" module="addIcon" title="Add Icon"
                            (onDelete)="deleteIconMainImage('icon')"></app-main-image-icon>

                        <!-- POC -->
                        <app-poc
                        [userData] = "employeeData"
                        [officesData] = "officeData"
                        (getPocData) = "getPocData($event)"
                        ></app-poc>

                        <!-- Offices -->
                        <app-office-cohort-group 
                        title='Offices' 
                        popTitle='Add Offices' 
                        [data]="officeData"
                        (getOfficeData) = "getOfficeData($event)">
                        </app-office-cohort-group>

                        <!-- Functions/Cohorts -->
                        <app-office-cohort-group 
                        title='Functions/Cohorts' 
                        popTitle='Add Cohorts' 
                        [data]="cohortsData"
                        (getFunctionCohortsData) = "getFunctionCohortsData($event)">
                        </app-office-cohort-group>

                        <!-- Groups -->
                        <app-office-cohort-group 
                        title='Groups' 
                        popTitle='Add Groups' 
                        [data]="groupData"
                        (getGroupData) = "getGroupData($event)">
                        </app-office-cohort-group>

                        <!-- Description Editor -->
                        <app-ckeditors
                        (onChange)="onEditorChange($event)"
                        ></app-ckeditors>

                        <small *ngIf="submitted && f.description.errors" class="invalid-feedback d-block">Please Enter The Details</small>

                        <!-- Add Gallery -->
                        <app-add-gallery *ngIf="addGAlleryFlag" (closeContent)="addGAlleryFlag = false"
                            (updatedFiles)="getUpdatedFiles($event)"></app-add-gallery>

                        <!-- Gallery Preview -->

                        <!-- Add Polls -->
                        <app-add-polls *ngIf="addPollsFlag" (closeContent)="addPollsFlag = false"></app-add-polls>

                        <!-- Add Logistics -->
                        <app-add-logistics *ngIf="addLogisticsFlag" (closeContent)="addLogisticsFlag = false">
                        </app-add-logistics>

                        <!-- Create Threads -->
                        <app-create-thread *ngIf="createThreadsFlag" (closeContent)="createThreadsFlag = false">
                        </app-create-thread>

                        <!-- Add Surveys -->
                        <app-add-surveys *ngIf="addSurveysFlag" (closeContent)="addSurveysFlag = false"></app-add-surveys>

                        <!-- Add Agenda -->
                        <app-add-agenda *ngIf="addAgendaFlag" (closeContent)="addAgendaFlag = false"></app-add-agenda>


                        <div class="row mt-3">
                            <div class="col-md-12">
                                <div class="box-shadow rounded-pill py-1 px-3 switch-btn">
                                    <span>Enable Enrolment</span>
                                    <label class="switch ">
                                        <input type="checkbox" (change)="enrolmentChange($event.target.checked)" class="primary">
                                        <span class="slider round"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-right w-25 float-left text-right">

                        <!-- Add Icon Popover Start -->
                        <small *ngIf="submitted && f.appIcon.errors" class="invalid-feedback d-block">Please Select Icon</small>
                        <app-button #popAddIcon="bs-popover" placement="bottom" container="body" [popover]="mainImage"
                            classes="btn btn-primary bg-transparent rounded btn-add w-148 mb-2 text-left add-icon box-shadow"
                            [submit]="false">
                            Add Icon<i class="icon-plus-icon"></i>
                        </app-button>
                        

                        <ng-template #mainImage>
                            <app-drag-drop-popover [pop]="popAddIcon" module="uploadIcon" title="ADD ICON"
                                message="Drag & Drop your file (SVG Size: 64x64px) from anywhere"
                                (onUpdate)="displayIcon($event)"></app-drag-drop-popover>
                        </ng-template>

                        <!-- Add Icon Popover End -->

                        <!-- Add Main Image Popover Start -->
                        <small *ngIf="submitted && f.appMainImage.errors" class="invalid-feedback d-block">Please Select Main Image</small>
                        <app-button #popAddImage="bs-popover" placement="bottom" container="body" [popover]="addIcon"
                            classes="btn btn-primary bg-transparent rounded btn-add w-148 mb-2 text-left main-img box-shadow"
                            [submit]="false">
                            Add Main Image<i class="icon-plus-icon"></i>
                        </app-button>
                        

                        <ng-template #addIcon>
                            <app-drag-drop-popover [pop]="popAddImage" module="uploadImage" title="ADD MAIN IMAGE"
                                message="Drag & Drop your file (JPG,PNG) from anywhere"
                                (onUpdate)="displayMainImage($event)"></app-drag-drop-popover>
                        </ng-template>

                        <!-- Add Main Image Popover End -->

                        <app-button #addMaterialpop="bs-popover" placement="bottom" container="body" [popover]="addMaterial"
                            classes="btn btn-primary bg-transparent rounded btn-add w-148 mb-2 text-left box-shadow"
                            [submit]="false">
                            Add Material<i class="icon-plus-icon"></i>
                        </app-button>

                        <ng-template #addMaterial>
                            <app-drag-drop-popover [pop]="addMaterialpop" module="uploadAppUrl" title="ADD MATERIAL"
                            message="Drag & Drop your file (Excel) from anywhere or"
                            (onUpdate)="getAppUrlData($event)"></app-drag-drop-popover>
                        </ng-template>


                        <app-button #popAddAppUrl="bs-popover" placement="bottom" container="body" [popover]="addAppUrl"
                            classes="btn btn-primary bg-transparent rounded btn-add w-148 mb-2 text-left box-shadow"
                            [submit]="false">
                            Add Apps/URL<i class="icon-plus-icon"></i>
                        </app-button>

                        <ng-template #addAppUrl>
                            <app-add-app-url-popover [pop]="popAddAppUrl" title="ADD APPS/URL"
                                (onAdd)="displayAppUrl($event)"></app-add-app-url-popover>
                        </ng-template>


                        <app-button
                            classes="btn btn-primary bg-transparent rounded btn-add w-148 mb-2 text-left box-shadow create-thread"
                            [submit]="false" (onClick)="createThreadsFlag = true">
                            Create Threads<i class="icon-plus-icon"></i>
                        </app-button>

                        <button #popMore="bs-popover" placement="left" containerClass="more-options-popover"
                            container="body" [popover]="popMoreTemplate"
                            class="btn btn-primary bg-transparent rounded btn-add w-148 text-left bs-popover-more box-shadow">
                            More
                            <i class="icon-option-icon"></i>
                        </button>

                        <!-- POC Popover Start -->

                        <ng-template #popMoreTemplate>

                            <h3 class="popover-header">
                                <h6 class="text-uppercase">MORE OPTIONS<a (click)="popMore.hide()" class="close float-right"
                                        data-dismiss="alert">×</a></h6>
                            </h3>
                            <div class="popover-body">
                                <div class="more-details-area">
                                    <ul class="mt-2">
                                        <li class="customCurserPointer" (click)="popMore.hide(); addGAlleryFlag = true">Add
                                            Gallery</li>
                                        <li class="customCurserPointer" (click)="popMore.hide(); addSurveysFlag = true">Add
                                            Surveys</li>
                                        <li class="customCurserPointer" (click)="popMore.hide(); addPollsFlag = true">Add
                                            Polls</li>
                                        <li class="customCurserPointer" (click)="popMore.hide(); addLogisticsFlag = true">
                                            Add Logistics</li>
                                        <li class="customCurserPointer" (click)="popMore.hide(); addAgendaFlag = true">Add
                                            Agenda</li>
                                    </ul>
                                </div>
                            </div>

                        </ng-template>

                        <!-- POC Popover End -->



                    </div>

                </form>
        </div>
    </div>
</div>