<!--
Project: life BCG
File: drag-drop-popover.component
Author: Sushant Indulkar - sushant.indulkar@wwindia.com
-----
Copyright (c) 2020
-----
HISTORY:
Date      	By       	Comments
----------	---------	---------------------------------------------------------
-->

<!-- add icon popover start -->

<h3 class="popover-header">
    <h6 class="text-uppercase">{{title}}<a (click)="pop.hide()" class="close float-right" data-dismiss="alert">×</a>
    </h6>
</h3>

<div class="popover-body">
    <form [formGroup]="drag_drop_form"  class="more-details-area">
        <div class="inner-search-area bg-transparent">
            <div class="form-group custom-file-area">

                <div *ngIf="module == 'uploadAppUrl'" class="form-group mb-2">
                    <input type="text" formControlName="appName" class="form-control" placeholder="Add Titles">
                    <small *ngIf="submitted && f.appName.errors" class="invalid-feedback d-block">Please Enter The Name</small>
                </div>

                <div class="custom-file rounded text-center">
                    <p class="w-50 d-flex justify-content-between mx-auto mt-2">
                        <span class="d-inline-block">{{message}}</span>
                    </p>
                    <app-drag-n-drop-input
                    [multiple] = multipleFlag
                    [accept] = "acceptType"
                    [uploadTypes] = "uploadType"
                    (onChange) = "onSelect($event)"
                    id = "_appIcon"
                    ></app-drag-n-drop-input>

                    <label class="custom-file-label box-shadow" for="validatedCustomFile">Select file...</label>

                    <div *ngIf="imageFile.length >0" class="mt-2 text-left text-muted">
                        <span class="d-inline-block">{{fileName}}</span>
                    </div>

                    <div *ngIf="module == 'uploadAppUrl' && appUrlFileData.length >0" class="mt-2 text-left text-muted">
                        <span class="d-inline-block">{{appUrlFileData.length+' Uploaded successfully!!'}}</span>
                    </div>

                </div>
               
            </div>
        </div>
        <div *ngIf="module == 'uploadAppUrl'" class="form-group">
            <textarea class="form-control" formControlName="appDescription" placeholder="Add Description" rows="5"></textarea>
            <small *ngIf="submitted && f.appDescription.errors" class="invalid-feedback d-block">Please Enter The Details</small>
        </div>

        <div class="px-2 text-center mt-2">
            <app-button
            *ngIf="module != 'uploadAppUrl'"
            classes="btn btn-primary bg-dark px-5 py-1 rounded-pill btn-sm "
            (onClick)="uploadMediaContent()"
            [disabled] = "!fileName"
            >UPLOAD</app-button>

            <app-button
            *ngIf="module == 'uploadAppUrl'"
            classes="btn btn-primary bg-dark px-5 py-1 rounded-pill btn-sm "
            (onClick)="uploadMediaContent()"
            [disabled] = "appUrlFileData.length <= 0"
            >UPLOAD</app-button>

        </div>
    </form>
</div>
<!-- add icon popover end -->