<!--
Project: life BCG
File: active-users.component
Author: Sushant Indulkar - sushant.indulkar@wwindia.com
-----
Copyright (c) 2020
-----
HISTORY:
Date      	By       	Comments
----------	---------	---------------------------------------------------------
-->

<li *ngFor="let userData of data">
   <div class="media mb-2">
      <span [ngClass]="userData.status == 'active' ? 'active' : 'away'" ><img [src]="userData.image" class="mr-2" alt="..."></span>
      <div class="media-body">
         <h5 class="mt-0">{{userData.name}}</h5>
         {{userData.place}}
      </div>
      <div class="status status-sm mt-2">{{userData.status == "active" ? 'Active' : userData.lastVisited | timeDifference }}</div>
   </div>
</li>