
/*colors primary*/

$grey: #EBEBEB;
$sidebarBg: #001D0C;
$bcgDarkGreen: #00532f;
$bcgGreen: #177b57;
$bcgBlueGreen: #3fad93;
$bcgLightGreen: #32c77f;
$bcgBrightGreen: #7DE266;
$bcgYellow: #e4ef39;
$black: #000000;
$white: #ffffff;
$darkGreyType: #333333;
$greyType: #707070;
$lightGreyType: #b7b7b7;
$extraLightGrey: #d9d9d9;
$greyBackground: #f2f2f2;

/*colors secondary*/

$bcgDarkGrey: #660d30;
$bcgRed: #860f3b;
$bcgLightRed: #e71754;
$bcgDarkBlue: #2e3357;
$bcgBlue: #295c7d;
$bcgLightBlue: #1ac3da;
$lefeBorder: #0FD3A5;
$iconsHover: #21E39D;
$question: #131721;
$radioBorder: #E0E0E0;
$dropdownHover: #C3F5E3;
$dropdownBorder: #CFD1DC;
$yellow: #FFE200;
$green: #187B57;
$lighterGrey: #F5F5F5;
$customFilebg: #EDF0EF;
$info: #0095d9;