<!--
Project: life BCG
File: home.component
Author: Sushant Indulkar - sushant.indulkar@wwindia.com
-----
Copyright (c) 2020
-----
HISTORY:
Date      	By       	Comments
----------	---------	---------------------------------------------------------
-->

<div class="header-area w-100 p-3">
        <h1>{{_title}}</h1>
     </div>
     <div class="content-area">
      <div class="container container-xl">
         <div class="row">
            <div class="col-md-12 p-0">
                  <div class="row m-0">
                     <div class="col-md-4 feed-area">
                        <div class="row" id="feed-scroll" slimScroll>
                           <div class="col-md-12">
                              <div >
                                 <div class="feed-search py-3 mt-1">
                                    <h2>Feeds <span class="badge badge-secondary rounded-circle font-weight-normal align-top">06</span>
                                       <!-- <i class="icon-search-icon float-right" aria-hidden="true"></i> -->

                                       <div class="search-box-right float-right">
                                          <input type="" name="" [ngClass]="addClass ? 'form-control rounded-pill open' : 'form-control rounded-pill'">
                                          <i class="icon-search-icon" (click)="addClass = true" aria-hidden="true"></i>
                                       </div>

                                    </h2>
                                 </div>
                                 <!-- feed start -->
                                 <app-event-card *ngFor="let feedDetail of feedData" [data]="feedDetail" ></app-event-card>
                                 <!-- feed end -->
                              </div>
                           </div>
                        </div>
                     </div> 
                     <div class="col-md-8 border-top right-content-area">
                        <div class="row">
                           <div class="col-md-12 p-0">
                              <div id="main-content-scroll" slimScroll class="pb-2">
                           <div class="row">
                              <div class="col-md-4 pr-1">
                                 <h2 class="py-3">Currently Active</h2>
                                 <div class="box-shadow p-3 currently-active">
                                    <h4 class="mb-3">510 Users</h4>
                                    <img src="assets/images/chart.jpg" alt="" class="img-fluid">
                                 </div>
                              </div>
                              <div class="col-md-4 pr-1">
                                 <h2 class="py-3">New Logins</h2>
                                 <div class="box-shadow p-3 new-login">
                                    <h4 class="mb-3">129 Users</h4>
                                    <img src="assets/images/chart.jpg" alt="" class="img-fluid">
                                 </div>
                              </div>
                              <div class="col-md-4">
                                 <h2 class="py-3">Most Active Users</h2>
                                 <div class="box-shadow p-3 most-active-users">
                                    <ul>
                                       <app-active-users [data]="active_users"></app-active-users>
                                    </ul>
                                 </div>
                              </div>
                           </div>
                           <div class="row mt-3">
                              <div class="col-md-6 pr-1">
                                 <h2 class="py-3">Top Polls</h2>
                                 <div class="box-shadow p-3">
                                    <app-top-polls [data]="topPolls"></app-top-polls>
                                 </div>
                              </div>
                              <div class="col-md-6">
                                 <h2 class="py-3">Upcoming Activities</h2>
                                 <div class="box-shadow p-3">
                                    <app-upcoming-activities [data] = "upcoming_activities"></app-upcoming-activities>
                                 </div>
                              </div>
                           </div>
                       </div>
                    </div>
                        </div>
                     </div>
                  </div>
            </div>
         </div>
      </div>
   </div>



