<!--
Project: life BCG
File: add-gallery.component
Author: Sushant Indulkar - sushant.indulkar@wwindia.com
-----
Copyright (c) 2020
-----
HISTORY:
Date      	By       	Comments
----------	---------	---------------------------------------------------------
-->

<!-- Add gallery staart -->
<div *ngIf="!(files.length>0)" id="add-gallery" class="add-gallery-area mb-4 d-block">
    <app-button classes="btn btn-secondary rounded-circle btn-add inner-close-btn" (onClick)="closeContentVew()">×
    </app-button>
    <!-- <button  class="btn btn-secondary rounded-circle btn-add inner-close-btn">×</button> -->
    <div class="h6 mb-3">Add Gallery</div>
    <div class="row">
        <!-- <div class="col-md-6 border-right add-gallery-left">
            <div class="form-group">
                <input type="" name="" class="form-control" placeholder="Input Title">
            </div>
            <div class="form-group mb-0">
                <textarea class="form-control" rows="5" placeholder="Add Description">

                   </textarea>
            </div>
        </div> -->
        <div class="col-md-6 add-gallery-right">
            <div class="form-group custom-file-area">
                <label class="mb-3">Drag & Drop your media files (JPG, PNG, MOV, MP4, MPEG only, File size Limit: 10MB)
                    from anywhere or</label>
                <div class="custom-file">

                    <p class="w-50 d-flex justify-content-between mx-auto mt-2">
                        <i class="icon-cloud-computing-icon d-inline-block mr-2"></i>
                        <span class="d-inline-block">Drag & Drop your file (CSV or Excel) from anywhere</span>
                    </p>
                    <app-drag-n-drop-input
                    multiple = true
                    accept = "video/*,image/*"
                    (onChange) = "onSelect($event)"
                    id = "validatedCustomFile"
                    ></app-drag-n-drop-input>
                    <!-- <input type="file" multiple accept=".png,.jpg,.JPEG" (change)="onFilesSelected($event)" class="custom-file-input" id="validatedCustomFile" required> -->
                    <!-- <label class="custom-file-label box-shadow" for="validatedCustomFile">Select file...</label> -->
                </div>
            </div>
        </div> 
    </div>
</div>

<app-gallery-preview
*ngIf="files.length>0"
[files] = "files"
></app-gallery-preview>
<!-- Add gallery end -->