<!--
Project: life BCG
File: office-cohort-group.component
Author: Sushant Indulkar - sushant.indulkar@wwindia.com
-----
Copyright (c) 2020
-----
HISTORY:
Date      	By       	Comments
----------	---------	---------------------------------------------------------
-->

<div class="row mb-2">
    <div class="col-md-12">
        <div class="add-field-area add-field-area-custom">
            <label>{{title}}</label>
            <div class="add-area d-inline-block">
                <div class="row">
                    <div class="col-md-12 d-flex flex-wrap">

                        <ng-container *ngFor="let itemData of data | sortBy: 'asc':'checkedTime'">
                            <span *ngIf="itemData.isActive" class="form-control d-inline-block w-auto added-value">
                                {{itemData.name}}
                                <i (click)="removeItemData(itemData)" class="icon-delete-icon"></i>
                            </span>
                        </ng-container>


                        <button #popOffice="bs-popover" placement="right" container="body" [popover]="officeCohortGroupTemplate"
                            (click)="openPopover(popOffice)"
                            class="btn btn-primary rounded-circle bg-light btn-add bs-popover">
                            <i class="icon-plus-icon"></i>
                        </button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- popover start -->
<ng-template #officeCohortGroupTemplate class="popover-main box-shadow d-none">
    <app-office-cohort-group-popover [pop]="popover" [popTitle]="popTitle" [data]="data"
        (updateData)="updateDataSet(($event))"></app-office-cohort-group-popover>
</ng-template>


<!-- popover end -->