<!--
Project: life BCG
File: scaffold.component
Author: Sushant Indulkar - sushant.indulkar@wwindia.com
-----
Copyright (c) 2020
-----
HISTORY:
Date      	By       	Comments
----------	---------	---------------------------------------------------------
-->

<div class="container-fluid">
    <div class="row">
       <div class="col-2 collapse show d-md-flex flex-column sidebar min-vh-100 p-0" id="sidebar">
            <app-sidebar></app-sidebar>
        </div>
        <main class="col p-0 right-area">
            <!-- <app-header [title]="_title"></app-header> -->
            <router-outlet></router-outlet>
            <!-- <ngx-spinner [fullScreen]="true" > </ngx-spinner> -->
        </main>
        <div class="col-1 p-0 text-center notification-area">
            <app-notificationbar></app-notificationbar>
        </div>

    </div>
</div>
