<!--
Project: life BCG
File: poc.component
Author: Sushant Indulkar - sushant.indulkar@wwindia.com
-----
Copyright (c) 2020
-----
HISTORY:
Date      	By       	Comments
----------	---------	---------------------------------------------------------
-->

<div class="row mb-2">
    <div class="col-md-12">
       <div class="add-field-area add-field-area-custom">
          <label>POC</label>

            <!-- <app-select class="mr-2" dropdownWidthClass="w-155"
                (onChange)="getSelectedCategory($event)" [optionData]="categoryData">
            </app-select>

            <app-select class="mr-2" dropdownWidthClass="w-155"
                (onChange)="getSelectedCategory($event)" [optionData]="categoryData">
            </app-select> -->


            <div class="add-area d-inline-block">
                <div class="row">
                    <div class="col-md-12 d-flex flex-wrap">
                        
                        <span *ngFor="let emp of empData; let i = index" class="form-control d-inline-block w-auto added-value">{{emp.name}}<i (click)="deleteEmp(i)" class="icon-delete-icon"></i></span>
                        
                        <button #popPoc="bs-popover" placement="right" container="body" [popover]="popTemplate" (click)="openPopover(popPoc)" class="btn btn-primary rounded-circle bg-light btn-add bs-popover-search">
                            <i class="icon-plus-icon"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- POC Popover Start -->

<ng-template #popTemplate class="popover-main box-shadow d-none">
    <app-poc-popover 
    [pop]="popPoc"
    (updateData)="updateDataSet(($event))"
    [selectedEmp] = "empData"
    [officesData] = "officesData"
    [userData] = "userData"
    ></app-poc-popover>
</ng-template>

<!-- POC Popover End -->