@import "helpers/variables";
@import "helpers/mixins";

@import "basics/base";
@import "basics/buttons";
@import "basics/links";
@import "basics/typography";
@import "basics/icomoon";
@import "basics/ngxCustom";
@import "basics/components";
@import "basics/utilities";

@import "layout/sidebar";


body {
	font-family: 'Henderson-regular' !important;
	font-size: 14px;
	color: $black;
}


