<!-- create threads staart -->
<div id="create-thread" class="add-gallery-area mb-3 d-block">
    <app-button
    classes = "btn btn-secondary rounded-circle btn-add inner-close-btn"
    (onClick) = "closeContentVew()" 
    >×</app-button>
    <div class="row mb-2">
        <div class="col-md-12">
            <div class="h6">
                   Create Threads
               </div>
       </div>
    </div>
    <div class="row">
             <div class="col-md-12">
                  <div class="form-group">
                      <input type="" name="" class="form-control" placeholder="Thread Title">
                  </div>
             </div>
    </div>
</div>
<!-- create threads end -->