<!--
Project: life BCG
File: preview-image.component
Author: Sushant Indulkar - sushant.indulkar@wwindia.com
-----
Copyright (c) 2020
-----
HISTORY:
Date      	By       	Comments
----------	---------	---------------------------------------------------------
-->

<!-- <div class="item">
    <div>
        <img [src]="imageSrc" alt="" class="rounded">
    </div>
</div> -->

<div class="item">
    <div>
        <label class="custom-control custom-checkbox mb-2">
       <input type="checkbox" class="custom-control-input" id="index">
       <label class="custom-control-label w-100" for="index"></label>
       </label>
        <img [src]="imageSrc" alt="" class="rounded">
    </div>
</div>