<!--
Project: life BCG
File: office-cohort-group-popover.component
Author: Sushant Indulkar - sushant.indulkar@wwindia.com
-----
Copyright (c) 2020
-----
HISTORY:
Date      	By       	Comments
----------	---------	---------------------------------------------------------
-->

<h3 class="popover-header">
    <h6 class="text-uppercase">{{popTitle}} <a (click)="popoverClose()" class="close float-right"
            data-dismiss="alert">×</a></h6>
</h3>
<div class="popover-body">
    <form [formGroup]="officeCohortGroupForm" (ngSubmit)="onSubmitOfficeCohortGroup()">
        <div class="more-details-area">
            <div class="inner-search-area bg-transparent">
                <div class="form-group mb-2">
                    <span class="search-box d-block">
                        <input type="text" formControlName="officeCohortGroupText" class="form-control rounded-pill" placeholder="Search"><i
                            class="icon-search-icon"></i>
                    </span>
                </div>
                <div class="pop-custom-category-scrollbar" [options]="slimScrollOpts" slimScroll>
                    <ul>
                        <!-- <li>
                            <div class="form-group mb-2">
                                <label class="text-uppercase mb-1 all">All</label>
                            </div>
                        </li>


                        <li *ngFor="let item of (data | filterBy: Name)">
                            <label class="custom-control custom-checkbox mb-2">
                                <input type="checkbox" class="custom-control-input"
                                    (change)="onChange(item.name, $event.target.checked)" [checked]="item.isActive"
                                    name="{{ item.name }}" id="{{item.name}}">
                                <label class="custom-control-label w-100" for="{{item.name}}">{{item.name}}</label>
                            </label>
                        </li> -->


                        <li class="mt-2">
                            <label class="custom-control custom-checkbox mb-2">
                                <input type="checkbox" formControlName="selectOfficeCohortGroupAll"  class="custom-control-input"
                                    name="AllofficeCohortGroup" id="AllofficeCohortGroup">
                                <label class="custom-control-label w-100" for="AllofficeCohortGroup">All</label>
                            </label>
                        </li>
 
                        <ng-container *ngIf="data.length>0" formArrayName="data">
                            <li *ngFor="let item of (data | filterBy: f.officeCohortGroupText.value);  let i = index">
                                <label class="custom-control custom-checkbox mb-2">
                                    <input type="checkbox" [formControlName]="i" class="custom-control-input" [name]="i"
                                        [id]="i" [checked]="item.isActive" (change)="onChange(i, $event.target.checked)" >
                                    <label class="custom-control-label w-100" [for]="i">{{item.name}}</label>
                                </label>
                            </li>
                        </ng-container>




                    </ul>
                </div>
            </div>

            <div [ngClass]="(popTitle == 'Add Groups') ? 'px-2 d-flex justify-content-between' : 'px-2 text-center' ">

                <span *ngIf="popTitle == 'Add Groups'" class="information w-50 d-flex">
                    <img src="assets/images/icons/info-icon.png" alt="" class="align-self-baseline mt-1 mr-1">
                    <span>You can create new groups from User Management in the menu</span>
                </span>

                <app-button
                    classes="{{ popTitle == 'Add Groups'? 'btn btn-primary bg-dark px-4 py-1 rounded-pill btn-sm align-self-center' : 'btn btn-primary bg-dark px-5 py-1 rounded-pill btn-sm' }}"
                    [disabled]="officeCohortGroupForm.invalid"
                    submit = true>
                    Update
                </app-button>
            </div>
        </div>
    </form>
</div>