<!--
Project: life BCG
File: calendar-popover.component
Author: Sushant Indulkar - sushant.indulkar@wwindia.com
-----
Copyright (c) 2020
-----
HISTORY:
Date      	By       	Comments
----------	---------	---------------------------------------------------------
-->

<!-- add icon popover start -->

<h3 class="popover-header">
    <h6 class="text-uppercase">{{title}}<a (click)="pop.hide()" class="close float-right" data-dismiss="alert">×</a>
    </h6>
</h3>

<div class="popover-body">
    <div class="more-details-area">
        <ng-container *ngIf="module == 'calendar'">

            <div class="calendar_dropdown">
               
                <app-select label="Set Type" dropdownWidthClass="w-110"
                (onChange)="getSelectedCalendarType($event)" [optionData]="calendarType">
                </app-select>

            </div>

            <bs-datepicker-inline [bsValue]="bsInlineValue" [minDate]="minDate" (bsValueChange)="onValueChange($event)"
                [bsConfig]="bsConfig"></bs-datepicker-inline>


            <div class="calendar-footer d-flex">
                <label class="custom-control custom-checkbox d-inline-block">
                    <input type="checkbox" class="custom-control-input" id="endDateCheck" (change)="onChange($event.target.checked)" >
                    <span class="custom-control-label w-100" for="endDateCheck">Set End Date</span>
                </label>

                <button class="btn btn-primary bg-dark ml-auto rounded-pill btn-sm " (click)="setDateValue()" >Add</button>
            </div>

        </ng-container>

        <ng-container *ngIf="module == 'time'">
            <timepicker [(ngModel)]="myTime" [formControl]="ctrl" required [showMeridian]=true [showSpinners]=false></timepicker>
            <div class="px-2 text-left mt-3">
                <label class="custom-control custom-checkbox d-inline-block">
                    <input type="checkbox" class="custom-control-input" (change)="onChangeEndTime($event.target.checked)"  id="endTimeCheck">
                    <span class="custom-control-label w-100" for="endTimeCheck">Set End Time</span>
                </label>
            </div>
            <small class="invalid-feedback d-block" *ngIf="ctrl.errors && ctrl.errors['outOfRange']">Invalid time</small>

            <div class="px-2 text-center">
                <app-button 
                classes="btn btn-primary bg-dark rounded-pill btn-sm "
                (onClick)="setTimeValue()"
                >ADD</app-button>
            </div>

        </ng-container>

    </div>
</div>